@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.frame-child85,
.frame-child86,
.frame-child87,
.frame-child88,
.frame-child89 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 7.1px;
  height: 7.1px;
}
.frame-child86,
.frame-child87,
.frame-child88,
.frame-child89 {
  left: 28.2px;
}
.frame-child87,
.frame-child88,
.frame-child89 {
  top: 21.2px;
}
.frame-child88,
.frame-child89 {
  top: 0;
  left: 35.3px;
  background-color: var(--color-fuchsia);
}
.frame-child89 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child90,
.frame-child91,
.frame-child92 {
  position: absolute;
  top: 21.2px;
  left: 7.1px;
  background-color: var(--color-springgreen-100);
  width: 7.1px;
  height: 7.1px;
}
.frame-child91,
.frame-child92 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child92 {
  top: 7.1px;
}
.frame-child93,
.frame-child94,
.frame-child95 {
  position: absolute;
  top: 21.2px;
  left: 21.2px;
  background-color: var(--color-fuchsia);
  width: 7.1px;
  height: 7.1px;
}
.frame-child94,
.frame-child95 {
  top: 0;
  left: 14.1px;
  background-color: var(--color-springgreen-100);
}
.frame-child95 {
  top: 7.1px;
  left: 21.2px;
  background-color: var(--color-white);
}
.rectangle-parent6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 42.3px;
  height: 28.2px;
}
.third-strand-studios8 {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 180.8px;
  height: 12.2px;
}
.frame-parent7 {
  width: 244.7px;
  position: relative;
  height: 28.2px;
}
.about12,
.about13 {
  position: relative;
  line-height: 160%;
  cursor: pointer;
}
.about13 {
  cursor: pointer;
}
.vector-icon3 {
  position: absolute;
  height: 60%;
  width: 76.67%;
  top: 20%;
  right: 11.67%;
  bottom: 20%;
  left: 11.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.burger-icon4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 42px;
  position: relative;
  height: 42px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.desktop-header4,
.nav4 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav4 {
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.desktop-header4 {
  width: 100%;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.gradient-divider3 {
  width: 100%;
  position: relative;
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  height: 5px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 150px;
}
.we-are {
  margin: 0;
}
.hero-strapline26,
.hero-strapline27 {
  width: 100%;
  position: relative;
  display: inline-block;
}
.hero-strapline26 {
  line-height: 123%;
  font-weight: 600;
  max-width: 700px;
}
.hero-strapline27 {
  font-size: var(--font-size-base);
  line-height: 160%;
  max-width: 520px;
}
.language-title2,
.language-top-section1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.language-title2 {
  width: 100%;
  align-items: flex-start;
  padding: var(--padding-11xl) 0;
  box-sizing: border-box;
  gap: var(--gap-41xl);
  max-width: 1080px;
  font-size: var(--font-size-59xl);
}
.language-top-section1 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-21xl) var(--padding-xs) var(--padding-41xl);
  gap: var(--gap-3xs);
  background-image: url(./public/language-top-section1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.hero-strapline28 {
  align-self: stretch;
  position: relative;
  line-height: 123%;
}
.divider8 {
  width: 100%;
  position: relative;
  background-color: var(--color-springgreen-100);
  height: 5px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 150px;
}
.description12,
.title11 {
  align-self: stretch;
  position: relative;
  line-height: 160%;
}
.title11 {
  font-weight: 600;
}
.description12 {
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}
.title-description4 {
  gap: var(--gap-base);
}
.software-development-container1,
.software-development1,
.title-description4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.software-development1 {
  gap: var(--gap-31xl);
}
.software-development-container1 {
  padding: var(--padding-base);
}
.divider10,
.divider11,
.divider9 {
  width: 100%;
  position: relative;
  background-color: var(--color-plum-100);
  height: 5px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 150px;
}
.divider10,
.divider11 {
  background-color: var(--color-fuchsia);
}
.divider11 {
  background-color: var(--color-darkgray);
}
.our-core-values,
.services5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.services5 {
  align-self: stretch;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
}
.our-core-values {
  flex: 1;
  gap: var(--gap-27xl);
}
.image-1-icon {
  width: 510px;
  position: relative;
  height: 1262.5px;
  object-fit: cover;
}
.images {
  flex: 1;
  height: 1262px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.our-core-values-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-41xl);
  max-width: 1080px;
}
.divider12,
.workspace-title {
  align-self: stretch;
  position: relative;
}
.workspace-title {
  line-height: 123%;
}
.divider12 {
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  height: 5px;
  overflow: hidden;
  flex-shrink: 0;
}
.workspace-01 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.workspace-01,
.workspace-container,
.workspaces {
  display: flex;
  align-items: flex-start;
}
.workspaces {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-41xl);
  max-width: 1080px;
}
.workspace-container {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-xl);
}
.gloal-workspace {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-27xl);
  max-width: 1080px;
  text-align: center;
}
.services-title3 {
  align-self: stretch;
  font-size: var(--font-size-17xl);
}
.learn-more15,
.services-title3 {
  position: relative;
  line-height: 123%;
}
.learn-more14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  font-size: var(--font-size-base);
}
.software-development-container2 {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-springgreen-500);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base);
}
.services6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: left;
}
.see-what-we1 {
  position: relative;
  line-height: 123%;
  font-weight: 600;
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.what-we-can-do-button1 {
  width: 300px;
  border: 1px solid var(--color-springgreen-100);
  box-sizing: border-box;
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl);
  max-width: 300px;
}
.services-container1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-27xl);
  max-width: 1080px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.meeting-text-title4 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 123%;
  font-weight: 600;
}
.meeting-text-1-icon4 {
  width: 46px;
  position: relative;
  height: 46px;
  overflow: hidden;
  flex-shrink: 0;
}
.meeting-text-19 {
  flex: 1;
  position: relative;
  line-height: 123%;
}
.meeting-text-18 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.meeting-text-2-icon4 {
  width: 46px;
  position: relative;
  height: 41.7px;
  overflow: hidden;
  flex-shrink: 0;
}
.meeting-text4 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: var(--gap-38xl);
}
.first-name-field9 {
  border: 0;
  outline: 0;
  font-family: var(--font-readex-pro);
  font-size: var(--font-size-base);
  background-color: transparent;
  flex: 1;
  position: relative;
  line-height: 123%;
  color: var(--color-gray-500);
  text-align: left;
}
.cf-email-field8,
.cf-message-field8,
.cf-name-fields4,
.first-name-field8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.first-name-field8 {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-mini) var(--padding-xl);
}
.cf-email-field8,
.cf-message-field8,
.cf-name-fields4 {
  align-self: stretch;
}
.cf-name-fields4 {
  gap: var(--gap-xl);
}
.cf-email-field8,
.cf-message-field8 {
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-mini) var(--padding-xl);
}
.cf-message-field8 {
  box-sizing: border-box;
  height: 180px;
}
.submit-button-text4 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 123%;
  font-family: var(--font-readex-pro);
  color: var(--color-black);
  text-align: left;
}
.submit-buttonsubmit-button-de4 {
  cursor: pointer;
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-springgreen-200);
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.submit-buttonsubmit-button-de4:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #69f977;
}
.submit-buttonsubmit-button-de4:active {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #69f977;
}
.privacy-policy4 {
  font-weight: 600;
}
.cf-form-container4 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 123%;
  display: inline-block;
  height: 26px;
  flex-shrink: 0;
}
.contact-form4 {
  flex: 1;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
}
.book-a-meeting-container4,
.contact-form4,
.content1 {
  display: flex;
  justify-content: flex-start;
}
.book-a-meeting-container4 {
  width: 100%;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-springgreen-500);
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-29xl) var(--padding-5xl) 0;
  gap: var(--gap-5xl);
  max-width: 1080px;
  font-size: var(--font-size-sm);
}
.content1 {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-xs);
  gap: var(--gap-41xl);
  font-size: var(--font-size-17xl);
}
.third-strand-studios9 {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 180.8px;
  height: 12.2px;
}
.company-column-header4 {
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.company-column-header4,
.services7 {
  position: relative;
  line-height: 160%;
}
.connect-button4,
.connect4 {
  display: flex;
  align-items: center;
}
.connect4 {
  width: 130px;
  position: relative;
  line-height: 123%;
  font-weight: 500;
  justify-content: center;
  height: 40px;
  flex-shrink: 0;
}
.connect-button4 {
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-black);
}
.column-014 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-4xl);
  min-width: 130px;
}
.footer-container4,
.links4 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.links4 {
  display: none;
  justify-content: flex-start;
  gap: var(--gap-106xl);
}
.footer-container4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.divider16 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gray-700);
  height: 3px;
  overflow: hidden;
  flex-shrink: 0;
}
.third-strand-studio10 {
  text-decoration: underline;
}
.third-strand-studio-ltd-1474 {
  color: inherit;
}
.third-strand-studio9 {
  flex: 1;
  position: relative;
  line-height: 160%;
  display: inline-block;
  min-width: 90px;
}
.bottom-footer-info4,
.privacy-legal4 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.privacy-legal4 {
  display: none;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.bottom-footer-info4 {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.about-us,
.bottom-footer-container4,
.footer4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bottom-footer-container4 {
  width: 100%;
  align-items: flex-start;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.about-us,
.footer4 {
  align-items: center;
}
.footer4 {
  align-self: stretch;
  background-color: var(--color-gray-800);
  padding: var(--padding-21xl) 0 var(--padding-41xl);
  gap: var(--gap-3xs);
}
.about-us {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-200);
  gap: var(--gap-41xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
@media screen and (max-width: 960px) {
  .hero-strapline26 {
    font-size: var(--font-size-35xl);
  }
  .hero-strapline28 {
    text-align: center;
  }
  .services5 {
    flex-direction: column;
  }
  .images {
    display: none;
  }
  .contact-form4,
  .meeting-text4 {
    flex: unset;
    align-self: stretch;
  }
  .book-a-meeting-container4 {
    flex-direction: column;
    gap: var(--gap-41xl);
  }
}
@media screen and (max-width: 570px) {
  .about12,
  .about13,
  .third-strand-studios8 {
    display: none;
  }
  .burger-icon4 {
    display: flex;
  }
  .hero-strapline26 {
    font-size: var(--font-size-23xl);
    line-height: 56px;
  }
  .services5 {
    flex-direction: column;
  }
  .software-development-container2 {
    flex: unset;
    align-self: stretch;
  }
  .services6 {
    flex-direction: column;
  }
  .meeting-text4 {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
  .first-name-field8 {
    flex: unset;
    align-self: stretch;
  }
  .cf-name-fields4 {
    flex-direction: column;
  }
  .contact-form4 {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
  .book-a-meeting-container4 {
    padding-left: var(--padding-3xs);
    padding-top: var(--padding-21xl);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
}
.frame-child173,
.frame-child174,
.frame-child175,
.frame-child176,
.frame-child177 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 7.1px;
  height: 7.1px;
}
.frame-child174,
.frame-child175,
.frame-child176,
.frame-child177 {
  left: 28.2px;
}
.frame-child175,
.frame-child176,
.frame-child177 {
  top: 21.2px;
}
.frame-child176,
.frame-child177 {
  top: 0;
  left: 35.3px;
  background-color: var(--color-fuchsia);
}
.frame-child177 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child178,
.frame-child179,
.frame-child180 {
  position: absolute;
  top: 21.2px;
  left: 7.1px;
  background-color: var(--color-springgreen-100);
  width: 7.1px;
  height: 7.1px;
}
.frame-child179,
.frame-child180 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child180 {
  top: 7.1px;
}
.frame-child181,
.frame-child182,
.frame-child183 {
  position: absolute;
  top: 21.2px;
  left: 21.2px;
  background-color: var(--color-fuchsia);
  width: 7.1px;
  height: 7.1px;
}
.frame-child182,
.frame-child183 {
  top: 0;
  left: 14.1px;
  background-color: var(--color-springgreen-100);
}
.frame-child183 {
  top: 7.1px;
  left: 21.2px;
  background-color: var(--color-white);
}
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 42.3px;
  height: 28.2px;
}
.third-strand-studios16 {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 190.3px;
  height: 12.2px;
}
.frame-parent16 {
  width: 244.7px;
  position: relative;
  height: 28.2px;
}
.about24 {
  line-height: 160%;
}
.about24,
.about25,
.nav8 {
  position: relative;
}
.about25 {
  line-height: 160%;
  cursor: pointer;
}
.nav8 {
  width: 100%;
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px 0;
  box-sizing: border-box;
  gap: var(--gap-17xl);
  opacity: 0;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.nav8.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
}
