@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.frame-child63,
.frame-child64,
.frame-child65,
.frame-child66,
.frame-child67 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 7.1px;
  height: 7.1px;
}
.frame-child64,
.frame-child65,
.frame-child66,
.frame-child67 {
  left: 28.2px;
}
.frame-child65,
.frame-child66,
.frame-child67 {
  top: 21.2px;
}
.frame-child66,
.frame-child67 {
  top: 0;
  left: 35.3px;
  background-color: var(--color-fuchsia);
}
.frame-child67 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child68,
.frame-child69,
.frame-child70 {
  position: absolute;
  top: 21.2px;
  left: 7.1px;
  background-color: var(--color-springgreen-100);
  width: 7.1px;
  height: 7.1px;
}
.frame-child69,
.frame-child70 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child70 {
  top: 7.1px;
}
.frame-child71,
.frame-child72,
.frame-child73 {
  position: absolute;
  top: 21.2px;
  left: 21.2px;
  background-color: var(--color-fuchsia);
  width: 7.1px;
  height: 7.1px;
}
.frame-child72,
.frame-child73 {
  top: 0;
  left: 14.1px;
  background-color: var(--color-springgreen-100);
}
.frame-child73 {
  top: 7.1px;
  left: 21.2px;
  background-color: var(--color-white);
}
.rectangle-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 42.3px;
  height: 28.2px;
}
.third-strand-studios6 {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 180.8px;
  height: 12.2px;
}
.frame-parent5 {
  width: 244.7px;
  position: relative;
  height: 28.2px;
}
.about10,
.about9 {
  position: relative;
  line-height: 160%;
}
.about10 {
  cursor: pointer;
}
.vector-icon2 {
  position: absolute;
  height: 60%;
  width: 76.67%;
  top: 20%;
  right: 11.67%;
  bottom: 20%;
  left: 11.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.burger-icon3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 42px;
  position: relative;
  height: 42px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.desktop-header3,
.nav3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav3 {
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.desktop-header3 {
  width: 100%;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.header-container1 {
  align-self: stretch;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-21xl) 0 var(--padding-41xl);
}
.hero-strapline25 {
  width: 100%;
  position: relative;
  line-height: 123%;
  font-weight: 600;
  display: inline-block;
  max-width: 700px;
}
.divider6 {
  width: 100%;
  position: relative;
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  height: 2px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 120px;
}
.description11 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 160%;
  color: var(--color-gray-400);
}
.lets-work-together3,
.title-description3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.title-description3 {
  align-self: stretch;
  gap: var(--gap-base);
}
.lets-work-together3 {
  width: 100%;
  max-width: 1080px;
}
.meeting-text-title3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 123%;
  font-weight: 600;
}
.meeting-text-1-icon3 {
  width: 46px;
  position: relative;
  height: 46px;
  overflow: hidden;
  flex-shrink: 0;
}
.meeting-text-17 {
  flex: 1;
  position: relative;
  line-height: 123%;
}
.meeting-text-16 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.meeting-text-2-icon3 {
  width: 46px;
  position: relative;
  height: 41.7px;
  overflow: hidden;
  flex-shrink: 0;
}
.meeting-text3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: var(--gap-38xl);
}
.cf-title3,
.first-name-field7 {
  position: relative;
  line-height: 123%;
}
.cf-title3 {
  align-self: stretch;
}
.first-name-field7 {
  border: 0;
  outline: 0;
  font-family: var(--font-readex-pro);
  font-size: var(--font-size-base);
  background-color: transparent;
  flex: 1;
  color: var(--color-gray-500);
  text-align: left;
}
.cf-email-field6,
.cf-message-field6,
.cf-name-fields3,
.first-name-field6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.first-name-field6 {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-mini) var(--padding-xl);
}
.cf-email-field6,
.cf-message-field6,
.cf-name-fields3 {
  align-self: stretch;
}
.cf-name-fields3 {
  gap: var(--gap-xl);
}
.cf-email-field6,
.cf-message-field6 {
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-mini) var(--padding-xl);
}
.cf-message-field6 {
  box-sizing: border-box;
  height: 180px;
}
.submit-button-text3 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 123%;
  font-family: var(--font-readex-pro);
  color: var(--color-black);
  text-align: left;
}
.submit-buttonsubmit-button-de3 {
  cursor: pointer;
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-springgreen-200);
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.submit-buttonsubmit-button-de3:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #69f977;
}
.submit-buttonsubmit-button-de3:active {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #69f977;
}
.privacy-policy3 {
  font-weight: 600;
}
.cf-form-container3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 123%;
  display: inline-block;
  height: 26px;
  flex-shrink: 0;
}
.book-a-meeting-container3,
.contact-form3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-form3 {
  flex: 1;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
}
.book-a-meeting-container3 {
  width: 100%;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-springgreen-500);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-29xl) var(--padding-5xl) 0;
  gap: var(--gap-5xl);
  max-width: 1080px;
  text-align: left;
  font-size: var(--font-size-sm);
}
.lets-work-together-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  gap: 120px;
  text-align: center;
  font-size: 70px;
}
.third-strand-studios7 {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 180.8px;
  height: 12.2px;
}
.company-column-header3 {
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.company-column-header3,
.services4 {
  position: relative;
  line-height: 160%;
}
.connect-button3,
.connect3 {
  display: flex;
  align-items: center;
}
.connect3 {
  width: 130px;
  position: relative;
  line-height: 123%;
  font-weight: 500;
  justify-content: center;
  height: 40px;
  flex-shrink: 0;
}
.connect-button3 {
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-black);
}
.column-013 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-4xl);
  min-width: 130px;
}
.footer-container3,
.links3 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.links3 {
  display: none;
  justify-content: flex-start;
  gap: var(--gap-106xl);
}
.footer-container3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.divider7 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gray-700);
  height: 3px;
  overflow: hidden;
  flex-shrink: 0;
}
.third-strand-studio7 {
  text-decoration: underline;
}
.third-strand-studio-ltd-1473 {
  color: inherit;
}
.third-strand-studio6 {
  flex: 1;
  position: relative;
  line-height: 160%;
  display: inline-block;
  min-width: 90px;
}
.privacy-legal3 {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.bottom-footer-info3,
.bottom-footer3 {
  align-self: stretch;
  align-items: flex-start;
}
.bottom-footer-info3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.bottom-footer3 {
  gap: var(--gap-base);
}
.bottom-footer-container3,
.bottom-footer3,
.contact,
.footer3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bottom-footer-container3 {
  width: 100%;
  align-items: flex-start;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.contact,
.footer3 {
  align-items: center;
}
.footer3 {
  align-self: stretch;
  background-color: var(--color-gray-800);
  padding: var(--padding-21xl) 0 var(--padding-41xl);
  gap: var(--gap-3xs);
}
.contact {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-200);
  gap: var(--gap-41xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
@media screen and (max-width: 960px) {
  .hero-strapline25 {
    font-size: var(--font-size-35xl);
  }
  .contact-form3,
  .meeting-text3 {
    flex: unset;
    align-self: stretch;
  }
  .book-a-meeting-container3 {
    flex-direction: column;
    gap: var(--gap-41xl);
  }
}
@media screen and (max-width: 570px) {
  .about10,
  .about9,
  .third-strand-studios6 {
    display: none;
  }
  .burger-icon3 {
    display: flex;
  }
  .hero-strapline25 {
    font-size: var(--font-size-23xl);
    line-height: 56px;
  }
  .meeting-text3 {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
  .first-name-field6 {
    flex: unset;
    align-self: stretch;
  }
  .cf-name-fields3 {
    flex-direction: column;
  }
  .contact-form3 {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
  .book-a-meeting-container3 {
    padding-left: var(--padding-3xs);
    padding-top: var(--padding-21xl);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
}
.frame-child173,
.frame-child174,
.frame-child175,
.frame-child176,
.frame-child177 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 7.1px;
  height: 7.1px;
}
.frame-child174,
.frame-child175,
.frame-child176,
.frame-child177 {
  left: 28.2px;
}
.frame-child175,
.frame-child176,
.frame-child177 {
  top: 21.2px;
}
.frame-child176,
.frame-child177 {
  top: 0;
  left: 35.3px;
  background-color: var(--color-fuchsia);
}
.frame-child177 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child178,
.frame-child179,
.frame-child180 {
  position: absolute;
  top: 21.2px;
  left: 7.1px;
  background-color: var(--color-springgreen-100);
  width: 7.1px;
  height: 7.1px;
}
.frame-child179,
.frame-child180 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child180 {
  top: 7.1px;
}
.frame-child181,
.frame-child182,
.frame-child183 {
  position: absolute;
  top: 21.2px;
  left: 21.2px;
  background-color: var(--color-fuchsia);
  width: 7.1px;
  height: 7.1px;
}
.frame-child182,
.frame-child183 {
  top: 0;
  left: 14.1px;
  background-color: var(--color-springgreen-100);
}
.frame-child183 {
  top: 7.1px;
  left: 21.2px;
  background-color: var(--color-white);
}
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 42.3px;
  height: 28.2px;
}
.third-strand-studios16 {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 190.3px;
  height: 12.2px;
}
.frame-parent16 {
  width: 244.7px;
  position: relative;
  height: 28.2px;
}
.about24 {
  line-height: 160%;
}
.about24,
.about25,
.nav8 {
  position: relative;
}
.about25 {
  line-height: 160%;
  cursor: pointer;
}
.nav8 {
  width: 100%;
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px 0;
  box-sizing: border-box;
  gap: var(--gap-17xl);
  opacity: 0;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.nav8.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
}
