@keyframes slide-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#dwarerhomeText {
  cursor: pointer !important;
}

#homeText {
  cursor: pointer !important;
}
.frame-child,
.frame-inner,
.frame-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 7.1px;
  height: 7.1px;
}
.frame-inner,
.frame-item {
  left: 28.2px;
}
.frame-inner {
  top: 21.2px;
}
.frame-child1,
.frame-child2,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 35.3px;
  background-color: var(--color-fuchsia);
  width: 7.1px;
  height: 7.1px;
}
.frame-child1,
.frame-child2 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child2 {
  top: 21.2px;
  left: 7.1px;
  background-color: var(--color-springgreen-100);
}
.frame-child3,
.frame-child4,
.frame-child5,
.frame-child6,
.frame-child7 {
  position: absolute;
  top: 14.1px;
  left: 7.1px;
  background-color: var(--color-white);
  width: 7.1px;
  height: 7.1px;
}
.frame-child4,
.frame-child5,
.frame-child6,
.frame-child7 {
  top: 7.1px;
}
.frame-child5,
.frame-child6,
.frame-child7 {
  top: 21.2px;
  left: 21.2px;
  background-color: var(--color-fuchsia);
}
.frame-child6,
.frame-child7 {
  top: 0;
  left: 14.1px;
  background-color: var(--color-springgreen-100);
}
.frame-child7 {
  top: 7.1px;
  left: 21.2px;
  background-color: var(--color-white);
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 42.3px;
  height: 28.2px;
}
.third-strand-studios {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 180.8px;
  height: 12.2px;
}
.frame-parent {
  width: 244.7px;
  position: relative;
  height: 28.2px;
}
.about,
.contact-us {
  position: relative;
  line-height: 160%;
}
.contact-us {
  cursor: pointer;
}
.vector-icon {
  position: absolute;
  height: 60%;
  width: 76.67%;
  top: 20%;
  right: 11.67%;
  bottom: 20%;
  left: 11.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.burger-icon {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 42px;
  position: relative;
  height: 42px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.desktop-header,
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav {
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.desktop-header {
  width: 100%;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.gradient-divider {
  width: 100%;
  position: relative;
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  height: 5px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 150px;
}
.hero-description,
.hero-strapline1 {
  width: 100%;
  position: relative;
  display: inline-block;
}
.hero-strapline1 {
  line-height: 123%;
  font-weight: 600;
  max-width: 700px;
}
.hero-description {
  font-size: var(--font-size-sm);
  line-height: 160%;
  max-width: 520px;
}
.text {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 120%;
  font-weight: 500;
  font-family: var(--font-readex-pro);
  color: var(--color-black);
  text-align: center;
}
.contact-us-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xl) var(--padding-xl);
  background-color: transparent;
  width: 100%;
  border-radius: var(--br-7xs);
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 300px;
}
.contact-us-button:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(89.95deg, #65ff74, #ff00d6);
}
.contact-us-button:active {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(89.95deg, #65ff74, #ff00d6);
}
.header-container,
.hero-strapline {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hero-strapline {
  width: 100%;
  align-items: flex-start;
  gap: var(--gap-17xl);
  opacity: 0;
  max-width: 1080px;
  font-size: var(--font-size-59xl);
}
.hero-strapline.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}
.header-container {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-21xl) var(--padding-xs) var(--padding-41xl);
  gap: var(--gap-3xs);
  background-image: url(./public/headercontainer@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.timeline-1-icon {
  width: 60px;
  position: relative;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon,
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.icon {
  width: 75px;
  height: 75px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-4xs);
  box-sizing: border-box;
}
.title {
  align-self: stretch;
  position: relative;
  line-height: 123%;
  height: 68px;
}
.establish-project-goals {
  margin-bottom: 0;
}
.establish-project-goals-estima {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-lgi);
}
.description {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 140%;
  text-align: left;
}
.column-1,
.timeline,
.timeline-tile {
  display: flex;
  justify-content: flex-start;
}
.timeline-tile {
  flex: 1;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-springgreen-500);
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-5xl) var(--padding-3xs);
  gap: var(--gap-sm);
  opacity: 0;
  min-width: 160px;
  min-height: 320px;
}
.timeline-tile.animate {
  animation: 0.5s ease 0s 1 normal forwards slide-in-bottom;
}
.column-1,
.timeline {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-base);
}
.column-1 {
  flex: 1;
}
.timeline {
  width: 100%;
  flex-wrap: wrap;
  max-width: 1080px;
  font-size: var(--font-size-base);
}
.services-title {
  align-self: stretch;
  position: relative;
  line-height: 123%;
}
.typescript-icon {
  width: 56px;
  position: relative;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
}
.technologies-1-title,
.technologies-1-title1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  line-height: 123%;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
}
.technologies-1-title1 {
  color: var(--color-springgreen-100);
}
.tech-tile,
.technologies-1-title-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.technologies-1-title-parent {
  align-self: stretch;
  gap: var(--gap-xs);
}
.tech-tile {
  cursor: pointer;
  border: 1px solid var(--color-springgreen-500);
  padding: var(--padding-2xl-8);
  background-color: var(--color-gray-300);
  flex: 1;
  border-radius: var(--br-7xs);
  gap: var(--gap-21xl-2);
}
.tech-tile:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.04),
      rgba(255, 255, 255, 0.04)
    ),
    #141414;
  border: 1px solid var(--color-springgreen-300);
  box-sizing: border-box;
}
.tech-tile:active {
  background: linear-gradient(#000, #000), #141414;
}
.csharp-icon {
  width: 60.3px;
  position: relative;
  height: 67.3px;
  overflow: hidden;
  flex-shrink: 0;
}
.c {
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
}
.c,
.re,
.react-icon {
  overflow: hidden;
  flex-shrink: 0;
}
.react-icon {
  width: 65.5px;
  position: relative;
  height: 58.6px;
}
.re {
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) 0;
  box-sizing: border-box;
}
.tech-tile-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mid);
}
.ja,
.javascript-icon {
  overflow: hidden;
  flex-shrink: 0;
}
.javascript-icon {
  width: 67.3px;
  position: relative;
  height: 67.3px;
}
.ja {
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.java-icon,
.nodejs-icon {
  width: 60.3px;
  position: relative;
  height: 67.3px;
}
.java-icon {
  width: 66px;
  height: 67px;
}
.aws,
.aws-icon,
.java-icon {
  overflow: hidden;
  flex-shrink: 0;
}
.aws-icon {
  width: 74.3px;
  position: relative;
  height: 44.6px;
}
.aws {
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
}
.sql-icon {
  width: 66.4px;
  position: relative;
  height: 70.8px;
}
.sql-icon,
.uni,
.unity-icon {
  overflow: hidden;
  flex-shrink: 0;
}
.unity-icon {
  width: 66.4px;
  position: relative;
  height: 63.8px;
}
.uni {
  width: 75px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1px 0;
  box-sizing: border-box;
}
.frame-group,
.services-title-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-group {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-mid);
  opacity: 0;
}
.frame-group.animate,
.showcase-04-container.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}
.services-title-parent {
  width: 100%;
  align-items: center;
  gap: var(--gap-5xl);
  max-width: 1080px;
}
.hero-strapline2 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 123%;
  font-family: var(--font-readex-pro);
  color: var(--color-springgreen-100);
  text-align: left;
}
.tags,
.title4 {
  align-self: stretch;
}
.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.title4 {
  font-size: var(--font-size-17xl);
  line-height: 123%;
  color: var(--color-white);
}
.description4,
.learn-more1,
.title4 {
  position: relative;
  font-family: var(--font-readex-pro);
  text-align: left;
}
.description4 {
  align-self: stretch;
  font-size: var(--font-size-sm);
  line-height: 130%;
  color: var(--color-gray-400);
}
.learn-more1 {
  font-size: var(--font-size-base);
  line-height: 123%;
  color: var(--color-springgreen-100);
}
.info,
.learn-more {
  display: flex;
  justify-content: flex-start;
}
.learn-more {
  width: 200px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
}
.info {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
}
.image-icon {
  flex: 1;
  max-width: 100%;
  overflow: hidden;
  height: 368.5px;
  object-fit: cover;
}
.showcase-04,
.showcase-04-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.showcase-04 {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-base);
}
.showcase-04-container {
  cursor: pointer;
  border: 1px solid var(--color-springgreen-400);
  padding: var(--padding-21xl);
  background-color: var(--color-gray-300);
  border-radius: var(--br-7xs);
  flex-direction: column;
  opacity: 0;
}
.showcase-04-container:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #8d547e;
}
.showcase-04-container:active {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #8d547e;
}
.hero-strapline-wrapper {
  background-color: var(--color-gray-700);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs);
}
.showcase-01-container {
  cursor: pointer;
  border: 1px solid var(--color-springgreen-400);
  padding: var(--padding-21xl);
  background-color: var(--color-gray-300);
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0;
}
.showcase-01-container.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}
.showcase-01-container:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #3b7841;
}
.showcase-01-container:active {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #3b7841;
}
.description6,
.description7,
.learn-more5 {
  position: relative;
  font-family: var(--font-readex-pro);
  text-align: left;
}
.description6 {
  margin: 0;
  align-self: stretch;
  font-size: var(--font-size-sm);
  line-height: 130%;
  color: var(--color-gray-400);
}
.description7,
.learn-more5 {
  font-size: var(--font-size-base);
}
.learn-more5 {
  line-height: 123%;
  color: var(--color-springgreen-100);
  cursor: pointer;
}
.description7 {
  align-self: stretch;
  line-height: 130%;
  color: var(--color-gray-400);
}
.case-studies {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 48px;
  max-width: 1080px;
}
.services-title2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-17xl);
  line-height: 123%;
}
.divider {
  width: 100%;
  position: relative;
  background-color: var(--color-springgreen-100);
  height: 5px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 150px;
}
.description8,
.title8 {
  align-self: stretch;
  position: relative;
  line-height: 160%;
}
.title8 {
  font-weight: 600;
}
.description8 {
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
}
.title-description {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.learn-more9 {
  position: relative;
  line-height: 123%;
}
.learn-more8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  font-size: var(--font-size-base);
}
.software-development,
.software-development-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.software-development {
  align-self: stretch;
  gap: var(--gap-31xl);
}
.software-development-container {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-springgreen-500);
  padding: var(--padding-base);
}
.divider1,
.divider2 {
  width: 100%;
  position: relative;
  background-color: var(--color-plum-100);
  height: 5px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 150px;
}
.divider2 {
  background-color: var(--color-fuchsia);
}
.services {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: left;
}
.see-what-we {
  position: relative;
  line-height: 123%;
  font-weight: 600;
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.what-we-can-do-button {
  width: 300px;
  border: 1px solid var(--color-springgreen-100);
  box-sizing: border-box;
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl);
  max-width: 300px;
}
.services-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-27xl);
  max-width: 1080px;
  font-size: var(--font-size-xl);
}
.meeting-text-title {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 123%;
  font-weight: 600;
}
.meeting-text-1-icon {
  width: 46px;
  position: relative;
  height: 46px;
  overflow: hidden;
  flex-shrink: 0;
}
.meeting-text-11 {
  flex: 1;
  position: relative;
  line-height: 123%;
}
.meeting-text-1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.meeting-text-2-icon {
  width: 46px;
  position: relative;
  height: 41.7px;
  overflow: hidden;
  flex-shrink: 0;
}
.meeting-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: var(--gap-38xl);
}
.first-name-field1 {
  border: 0;
  outline: 0;
  font-family: var(--font-readex-pro);
  font-size: var(--font-size-base);
  background-color: transparent;
  flex: 1;
  position: relative;
  line-height: 123%;
  color: var(--color-gray-500);
  text-align: left;
}
.cf-email-field,
.cf-message-field,
.cf-name-fields,
.first-name-field {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.first-name-field {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-mini) var(--padding-xl);
}
.cf-email-field,
.cf-message-field,
.cf-name-fields {
  align-self: stretch;
}
.cf-name-fields {
  gap: var(--gap-xl);
}
.cf-email-field,
.cf-message-field {
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-mini) var(--padding-xl);
}
.cf-message-field {
  box-sizing: border-box;
  height: 180px;
}
.submit-button-text {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 123%;
  font-family: var(--font-readex-pro);
  color: var(--color-black);
  text-align: left;
}
.submit-buttonsubmit-button-de {
  cursor: pointer;
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-springgreen-200);
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.submit-buttonsubmit-button-de:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #69f977;
}
.submit-buttonsubmit-button-de:active {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #69f977;
}
.privacy-policy {
  font-weight: 600;
}
.cf-form-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 123%;
  display: inline-block;
  height: 26px;
  flex-shrink: 0;
}
.contact-form {
  flex: 1;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
}
.book-a-meeting-container,
.contact-form,
.content {
  display: flex;
  justify-content: flex-start;
}
.book-a-meeting-container {
  width: 100%;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-springgreen-500);
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-29xl) var(--padding-5xl) 0;
  gap: var(--gap-5xl);
  max-width: 1080px;
  text-align: left;
  font-size: var(--font-size-sm);
}
.content {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 80px var(--padding-xs);
  gap: 80px;
  text-align: center;
  font-size: var(--font-size-17xl);
}
.third-strand-studios1 {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 180.8px;
  height: 12.2px;
}
.company-column-header {
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.company-column-header,
.work {
  position: relative;
  line-height: 160%;
}
.connect,
.connect-button {
  display: flex;
  align-items: center;
}
.connect {
  width: 130px;
  position: relative;
  line-height: 123%;
  font-weight: 500;
  justify-content: center;
  height: 40px;
  flex-shrink: 0;
}
.connect-button {
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-black);
}
.column-01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-4xl);
  min-width: 130px;
}
.footer-container,
.links {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.links {
  display: none;
  justify-content: flex-start;
  gap: var(--gap-106xl);
}
.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.divider3 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gray-700);
  height: 3px;
  overflow: hidden;
  flex-shrink: 0;
}
.third-strand-studio1 {
  text-decoration: underline;
}
.third-strand-studio-ltd-147 {
  color: inherit;
}
.third-strand-studio {
  flex: 1;
  position: relative;
  line-height: 160%;
  display: inline-block;
  min-width: 90px;
}
.bottom-footer-info,
.privacy-legal {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.privacy-legal {
  display: none;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.bottom-footer-info {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.bottom-footer-container,
.footer,
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bottom-footer-container {
  width: 100%;
  align-items: flex-start;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.footer,
.homepage {
  align-items: center;
}
.footer {
  align-self: stretch;
  background-color: var(--color-gray-800);
  padding: var(--padding-21xl) 0 var(--padding-41xl);
  gap: var(--gap-3xs);
}
.homepage {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-200);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
@media screen and (max-width: 960px) {
  .hero-strapline1 {
    font-size: var(--font-size-35xl);
  }
  .contact-form,
  .meeting-text {
    flex: unset;
    align-self: stretch;
  }
  .book-a-meeting-container {
    flex-direction: column;
    gap: var(--gap-41xl);
  }
}
@media screen and (max-width: 570px) {
  .about,
  .contact-us,
  .third-strand-studios {
    display: none;
  }
  .burger-icon {
    display: flex;
  }
  .hero-strapline1 {
    font-size: var(--font-size-23xl);
    line-height: 56px;
  }
  .timeline-tile {
    flex: unset;
    align-self: stretch;
  }
  .column-1 {
    flex-direction: column;
  }
  .image-icon,
  .info {
    flex: unset;
    align-self: stretch;
  }
  .showcase-04 {
    flex-direction: column;
  }
  .showcase-01-container,
  .showcase-04-container {
    padding: var(--padding-base);
    box-sizing: border-box;
  }
  .software-development-container {
    flex: unset;
    align-self: stretch;
  }
  .services {
    flex-direction: column;
  }
  .meeting-text {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
  .first-name-field {
    flex: unset;
    align-self: stretch;
  }
  .cf-name-fields {
    flex-direction: column;
  }
  .contact-form {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
  .book-a-meeting-container {
    padding-left: var(--padding-3xs);
    padding-top: var(--padding-21xl);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .technologies-1-title-parent {
    display: none;
  }
}
.frame-child173,
.frame-child174,
.frame-child175,
.frame-child176,
.frame-child177 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 7.1px;
  height: 7.1px;
}
.frame-child174,
.frame-child175,
.frame-child176,
.frame-child177 {
  left: 28.2px;
}
.frame-child175,
.frame-child176,
.frame-child177 {
  top: 21.2px;
}
.frame-child176,
.frame-child177 {
  top: 0;
  left: 35.3px;
  background-color: var(--color-fuchsia);
}
.frame-child177 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child178,
.frame-child179,
.frame-child180 {
  position: absolute;
  top: 21.2px;
  left: 7.1px;
  background-color: var(--color-springgreen-100);
  width: 7.1px;
  height: 7.1px;
}
.frame-child179,
.frame-child180 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child180 {
  top: 7.1px;
}
.frame-child181,
.frame-child182,
.frame-child183 {
  position: absolute;
  top: 21.2px;
  left: 21.2px;
  background-color: var(--color-fuchsia);
  width: 7.1px;
  height: 7.1px;
}
.frame-child182,
.frame-child183 {
  top: 0;
  left: 14.1px;
  background-color: var(--color-springgreen-100);
}
.frame-child183 {
  top: 7.1px;
  left: 21.2px;
  background-color: var(--color-white);
}
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 42.3px;
  height: 28.2px;
}
.third-strand-studios16 {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 190.3px;
  height: 12.2px;
}
.frame-parent16 {
  width: 244.7px;
  position: relative;
  height: 28.2px;
}
.about24 {
  line-height: 160%;
}
.about24,
.about25,
.nav8 {
  position: relative;
}
.about25 {
  line-height: 160%;
  cursor: pointer;
}
.nav8 {
  width: 100%;
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px 0;
  box-sizing: border-box;
  gap: var(--gap-17xl);
  opacity: 0;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.nav8.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
}
