@keyframes slide-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.frame-child19,
.frame-child20,
.frame-child21,
.frame-child22,
.frame-child23 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 7.1px;
  height: 7.1px;
}
.frame-child20,
.frame-child21,
.frame-child22,
.frame-child23 {
  left: 28.2px;
}
.frame-child21,
.frame-child22,
.frame-child23 {
  top: 21.2px;
}
.frame-child22,
.frame-child23 {
  top: 0;
  left: 35.3px;
  background-color: var(--color-fuchsia);
}
.frame-child23 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child24,
.frame-child25,
.frame-child26 {
  position: absolute;
  top: 21.2px;
  left: 7.1px;
  background-color: var(--color-springgreen-100);
  width: 7.1px;
  height: 7.1px;
}
.frame-child25,
.frame-child26 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child26 {
  top: 7.1px;
}
.frame-child27,
.frame-child28,
.frame-child29 {
  position: absolute;
  top: 21.2px;
  left: 21.2px;
  background-color: var(--color-fuchsia);
  width: 7.1px;
  height: 7.1px;
}
.frame-child28,
.frame-child29 {
  top: 0;
  left: 14.1px;
  background-color: var(--color-springgreen-100);
}
.frame-child29 {
  top: 7.1px;
  left: 21.2px;
  background-color: var(--color-white);
}
.rectangle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 42.3px;
  height: 28.2px;
}
.third-strand-studios2 {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 180.8px;
  height: 12.2px;
}
.frame-parent1 {
  width: 244.7px;
  position: relative;
  height: 28.2px;
}
.about3,
.about4 {
  position: relative;
  line-height: 160%;
}
.about4 {
  cursor: pointer;
}
.vector-icon1 {
  position: absolute;
  height: 60%;
  width: 76.67%;
  top: 20%;
  right: 11.67%;
  bottom: 20%;
  left: 11.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.burger-icon1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 42px;
  position: relative;
  height: 42px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.desktop-header1,
.nav1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav1 {
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.desktop-header1 {
  width: 100%;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.gradient-divider1 {
  width: 100%;
  position: relative;
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  height: 5px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 150px;
}
.hero-strapline15 {
  width: 100%;
  position: relative;
  line-height: 123%;
  font-weight: 600;
  display: inline-block;
  max-width: 700px;
}
.hero-strapline14 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-17xl);
  opacity: 0;
}
.hero-strapline14.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}
.hero-strapline-container1,
.hero-strapline14,
.top-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hero-strapline-container1 {
  width: 100%;
  align-items: flex-start;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
  font-size: var(--font-size-59xl);
}
.top-section {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-21xl) 0 var(--padding-41xl);
  gap: var(--gap-3xs);
  background-image: url(./public/top-section@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-base);
}
.at-third-strand {
  margin: 0;
}
.hero-strapline16,
.showcase-overview {
  width: 100%;
  position: relative;
  line-height: 160%;
  display: inline-block;
  max-width: 1080px;
}
.hero-strapline16 {
  font-size: var(--font-size-17xl);
  line-height: 123%;
  text-align: center;
}
.showcase-content-01 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  gap: var(--gap-21xl);
  font-size: var(--font-size-lg);
}
.showcase-image-02-icon {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  height: 350px;
  flex-shrink: 0;
  object-fit: cover;
}
.hero-strapline18,
.hero-strapline19 {
  width: 100%;
  position: relative;
  line-height: 123%;
  display: inline-block;
  max-width: 1080px;
}
.hero-strapline19 {
  font-size: var(--font-size-lg);
  line-height: 160%;
  text-align: left;
}
.showcase-content-02 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  gap: var(--gap-21xl);
  text-align: center;
}
.mortgage-calculator-empower {
  margin-bottom: 0;
}
.mortgage-calculator-empower-c {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-5xl);
}
.hero-strapline23 {
  width: 100%;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 200%;
  text-align: left;
  display: inline-block;
  max-width: 1080px;
}
.showcase-image-03-icon {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  height: 550px;
  flex-shrink: 0;
  object-fit: cover;
}
.meeting-text-title1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 123%;
  font-weight: 600;
}
.meeting-text-1-icon1 {
  width: 46px;
  position: relative;
  height: 46px;
  overflow: hidden;
  flex-shrink: 0;
}
.meeting-text-13 {
  flex: 1;
  position: relative;
  line-height: 123%;
}
.meeting-text-12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.meeting-text-2-icon1 {
  width: 46px;
  position: relative;
  height: 41.7px;
  overflow: hidden;
  flex-shrink: 0;
}
.meeting-text1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: var(--gap-38xl);
}
.cf-title1,
.first-name-field3 {
  position: relative;
  line-height: 123%;
}
.cf-title1 {
  align-self: stretch;
}
.first-name-field3 {
  border: 0;
  outline: 0;
  font-family: var(--font-readex-pro);
  font-size: var(--font-size-base);
  background-color: transparent;
  flex: 1;
  color: var(--color-gray-500);
  text-align: left;
}
.cf-email-field2,
.cf-message-field2,
.cf-name-fields1,
.first-name-field2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.first-name-field2 {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-mini) var(--padding-xl);
}
.cf-email-field2,
.cf-message-field2,
.cf-name-fields1 {
  align-self: stretch;
}
.cf-name-fields1 {
  gap: var(--gap-xl);
}
.cf-email-field2,
.cf-message-field2 {
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-mini) var(--padding-xl);
}
.cf-message-field2 {
  box-sizing: border-box;
  height: 180px;
}
.submit-button-text1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 123%;
  font-family: var(--font-readex-pro);
  color: var(--color-black);
  text-align: left;
}
.submit-buttonsubmit-button-de1 {
  cursor: pointer;
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-springgreen-200);
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.submit-buttonsubmit-button-de1:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #69f977;
}
.submit-buttonsubmit-button-de1:active {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #69f977;
}
.privacy-policy1 {
  font-weight: 600;
}
.cf-form-container1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 123%;
  display: inline-block;
  height: 26px;
  flex-shrink: 0;
}
.book-a-meeting-container1,
.contact-form1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-form1 {
  flex: 1;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
}
.book-a-meeting-container1 {
  width: 100%;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-springgreen-500);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-29xl) var(--padding-5xl) 0;
  gap: var(--gap-5xl);
  max-width: 1080px;
  font-size: var(--font-size-sm);
}
.bottom-section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  gap: 45px;
  font-size: var(--font-size-xl);
}
.third-strand-studios3 {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 180.8px;
  height: 12.2px;
}
.company-column-header1 {
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.company-column-header1,
.services2 {
  position: relative;
  line-height: 160%;
}
.connect-button1,
.connect1 {
  display: flex;
  align-items: center;
}
.connect1 {
  width: 130px;
  position: relative;
  line-height: 123%;
  font-weight: 500;
  justify-content: center;
  height: 40px;
  flex-shrink: 0;
}
.connect-button1 {
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-black);
}
.column-011 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-4xl);
  min-width: 130px;
}
.footer-container1,
.links1 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.links1 {
  display: none;
  justify-content: flex-start;
  gap: var(--gap-106xl);
}
.footer-container1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.divider4 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gray-700);
  height: 3px;
  overflow: hidden;
  flex-shrink: 0;
}
.third-strand-studio3 {
  text-decoration: underline;
}
.third-strand-studio-ltd-1471 {
  color: inherit;
}
.third-strand-studio2 {
  flex: 1;
  position: relative;
  line-height: 160%;
  display: inline-block;
  min-width: 90px;
}
.privacy-legal1 {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.bottom-footer-info1,
.bottom-footer1 {
  align-self: stretch;
  align-items: flex-start;
}
.bottom-footer-info1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.bottom-footer1 {
  gap: var(--gap-base);
}
.bottom-footer-container1,
.bottom-footer1,
.footer1,
.showcase-012 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bottom-footer-container1 {
  width: 100%;
  align-items: flex-start;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.footer1,
.showcase-012 {
  align-items: center;
}
.footer1 {
  align-self: stretch;
  background-color: var(--color-gray-800);
  padding: var(--padding-21xl) 0 var(--padding-41xl);
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
}
.showcase-012 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-200);
  gap: var(--gap-41xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
@media screen and (max-width: 960px) {
  .hero-strapline15 {
    font-size: var(--font-size-35xl);
  }
  .contact-form1,
  .meeting-text1 {
    flex: unset;
    align-self: stretch;
  }
  .book-a-meeting-container1 {
    flex-direction: column;
    gap: var(--gap-41xl);
  }
}
@media screen and (max-width: 570px) {
  .about3,
  .about4,
  .third-strand-studios2 {
    display: none;
  }
  .burger-icon1 {
    display: flex;
  }
  .hero-strapline15 {
    font-size: var(--font-size-23xl);
    line-height: 56px;
  }
  .meeting-text1 {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
  .first-name-field2 {
    flex: unset;
    align-self: stretch;
  }
  .cf-name-fields1 {
    flex-direction: column;
  }
  .contact-form1 {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
  .book-a-meeting-container1 {
    padding-left: var(--padding-3xs);
    padding-top: var(--padding-21xl);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
}
.frame-child173,
.frame-child174,
.frame-child175,
.frame-child176,
.frame-child177 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 7.1px;
  height: 7.1px;
}
.frame-child174,
.frame-child175,
.frame-child176,
.frame-child177 {
  left: 28.2px;
}
.frame-child175,
.frame-child176,
.frame-child177 {
  top: 21.2px;
}
.frame-child176,
.frame-child177 {
  top: 0;
  left: 35.3px;
  background-color: var(--color-fuchsia);
}
.frame-child177 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child178,
.frame-child179,
.frame-child180 {
  position: absolute;
  top: 21.2px;
  left: 7.1px;
  background-color: var(--color-springgreen-100);
  width: 7.1px;
  height: 7.1px;
}
.frame-child179,
.frame-child180 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child180 {
  top: 7.1px;
}
.frame-child181,
.frame-child182,
.frame-child183 {
  position: absolute;
  top: 21.2px;
  left: 21.2px;
  background-color: var(--color-fuchsia);
  width: 7.1px;
  height: 7.1px;
}
.frame-child182,
.frame-child183 {
  top: 0;
  left: 14.1px;
  background-color: var(--color-springgreen-100);
}
.frame-child183 {
  top: 7.1px;
  left: 21.2px;
  background-color: var(--color-white);
}
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 42.3px;
  height: 28.2px;
}
.third-strand-studios16 {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 190.3px;
  height: 12.2px;
}
.frame-parent16 {
  width: 244.7px;
  position: relative;
  height: 28.2px;
}
.about24 {
  line-height: 160%;
}
.about24,
.about25,
.nav8 {
  position: relative;
}
.about25 {
  line-height: 160%;
  cursor: pointer;
}
.nav8 {
  width: 100%;
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px 0;
  box-sizing: border-box;
  gap: var(--gap-17xl);
  opacity: 0;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.nav8.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
}
