.navbar,
.navbar1 {
  top: 0;
  background-color: var(--color-white);
}
.navbar {
  position: absolute;
  left: 0;
  width: 7.1px;
  height: 7.1px;
}
.navbar1 {
  left: 28.2px;
}
.navbar1,
.navbar2,
.navbar3,
.navbar4,
.navbar5 {
  position: absolute;
  width: 7.1px;
  height: 7.1px;
}
.navbar2 {
  top: 21.2px;
  left: 28.2px;
  background-color: var(--color-white);
}
.navbar3,
.navbar4,
.navbar5 {
  left: 35.3px;
}
.navbar3 {
  top: 0;
  background-color: var(--color-fuchsia);
  z-index: 1;
}
.navbar4,
.navbar5 {
  top: 14.1px;
  background-color: var(--color-white);
}
.navbar5 {
  top: 21.2px;
  left: 7.1px;
  background-color: var(--color-springgreen-100);
}
.navbar6 {
  top: 14.1px;
  left: 7.1px;
  background-color: var(--color-white);
}
.navbar10,
.navbar6,
.navbar7,
.navbar8,
.navbar9 {
  position: absolute;
  width: 7.1px;
  height: 7.1px;
}
.navbar7 {
  top: 7.1px;
  left: 7.1px;
  background-color: var(--color-white);
  z-index: 1;
}
.navbar10,
.navbar8,
.navbar9 {
  top: 21.2px;
  left: 21.2px;
  background-color: var(--color-fuchsia);
}
.navbar10,
.navbar9 {
  top: 0;
  left: 14.1px;
  background-color: var(--color-springgreen-100);
}
.navbar10 {
  top: 7.1px;
  left: 21.2px;
  background-color: var(--color-white);
}
.third-strand-studios4 {
  height: 28.2px;
  width: 42.3px;
  position: relative;
}
.third-strand-studios5 {
  align-self: stretch;
  height: 12.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.showcasetitletopsection {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs);
}
.third-strand-studios-parent {
  width: 244.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 12.1px;
}
.about6,
.about7,
.contact-us3 {
  position: relative;
  line-height: 160%;
  cursor: pointer;
}
.about7,
.contact-us3 {
  white-space: nowrap;
}
.nav2 {
  margin: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 23px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.desktop-header2,
.nav2,
.showcasetitle {
  display: flex;
  align-items: flex-start;
}
.showcasetitle {
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.099999999999909px 0 0;
}
.desktop-header2 {
  width: 1080px;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
  gap: var(--gap-xl);
}
.gradient-divider2 {
  width: 100%;
  height: 5px;
  position: relative;
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  overflow: hidden;
  flex-shrink: 0;
  max-width: 150px;
}
.showcase-title {
  margin: 0;
  width: 100%;
  position: relative;
  font-size: inherit;
  line-height: 123%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 700px;
}
.showcase-title-top-section,
.top-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.showcase-title-top-section {
  width: 1080px;
  align-items: flex-start;
  padding: var(--padding-11xl);
  gap: 50px 0;
  max-width: 1080px;
}
.top-section {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-21xl) 0 var(--padding-41xl);
  gap: 10px 0;
  background-image: url(./public/top-section@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-59xl);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.at-third-strand1 {
  margin: 0;
}
.showcase-overview {
  height: 145px;
  width: 1080px;
  position: relative;
  line-height: 160%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 1080px;
}
.showcase-overview-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.hero-strapline15 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 123%;
  font-weight: 700;
  font-family: inherit;
}
.hero-strapline16 {
  width: 100%;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 160%;
  text-align: left;
  display: inline-block;
  max-width: 1080px;
}
.showcase-content-01 {
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px 0;
  max-width: 1080px;
}
.showcase-content-01-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.showcase-image-01-icon {
  align-self: stretch;
  height: 628.2px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 350px;
}
.hero-strapline17 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 123%;
  font-weight: 700;
  font-family: inherit;
}
.hero-strapline18 {
  width: 100%;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 160%;
  text-align: left;
  display: inline-block;
  max-width: 1080px;
}
.showcase-content-02 {
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px 0;
  max-width: 1080px;
}
.showcase-content-02-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.hero-strapline19 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 123%;
  font-weight: 700;
  font-family: inherit;
}
.hero-strapline20 {
  width: 100%;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 160%;
  text-align: left;
  display: inline-block;
  max-width: 1080px;
}
.showcase-content-03 {
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px 0;
  max-width: 1080px;
}
.f-r-a-m-eshowcaseimage {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.showcase-image-02-icon {
  align-self: stretch;
  height: 350px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 350px;
}
.hero-strapline21 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 123%;
  font-weight: 700;
  font-family: inherit;
}
.about-me-section,
.client-testimonials-genuine,
.consultation-scheduling-strea,
.mortgage-calculator-empower,
.youtube-integration-engaging {
  margin-bottom: 0;
}
.mortgage-calculator-empower-c {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-5xl);
}
.hero-strapline22 {
  width: 100%;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 200%;
  text-align: left;
  display: inline-block;
  max-width: 1080px;
}
.showcase-content-04 {
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px 0;
  max-width: 1080px;
}
.showcase-content-04-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.showcase-image-03-icon {
  align-self: stretch;
  height: 550px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 550px;
}
.hero-strapline23 {
  width: 1080px;
  position: relative;
  line-height: 123%;
  display: inline-block;
  max-width: 1080px;
}
.meeting-text-title2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 123%;
  font-weight: 600;
  font-family: inherit;
}
.meeting-text-1-icon2 {
  height: 46px;
  width: 46px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 46px;
}
.meeting-text-15 {
  flex: 1;
  position: relative;
  line-height: 123%;
  display: inline-block;
  min-width: 154px;
  max-width: 100%;
}
.meeting-text-14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
  gap: 27px 21px;
  max-width: 100%;
}
.meeting-text-2-icon2 {
  height: 41.7px;
  width: 46px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.meeting-text-25 {
  flex: 1;
  position: relative;
  line-height: 123%;
  display: inline-block;
  min-width: 154px;
  max-width: 100%;
}
.meeting-text-24 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
  gap: 27px 21px;
  max-width: 100%;
}
.meeting-text-3-icon2 {
  height: 46px;
  width: 46px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.meeting-text-35 {
  flex: 1;
  position: relative;
  line-height: 123%;
  display: inline-block;
  min-width: 154px;
  max-width: 100%;
}
.meeting-text-34,
.meeting-text14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.meeting-text-34 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-7xs) 0 0;
  gap: 27px 21px;
}
.meeting-text14 {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-base);
  gap: 57px 0;
  min-width: 350px;
}
.cf-title2,
.first-name-field5 {
  position: relative;
  line-height: 123%;
}
.cf-title2 {
  align-self: stretch;
}
.first-name-field5 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-readex-pro);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 20px;
  flex: 1;
  color: var(--color-gray-400);
  text-align: left;
  display: inline-block;
  min-width: 99px;
  padding: 0;
}
.first-name-field4 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-lgi);
  min-width: 133px;
}
.last-name-field5 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-readex-pro);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 20px;
  flex: 1;
  position: relative;
  line-height: 123%;
  color: var(--color-gray-400);
  text-align: left;
  display: inline-block;
  min-width: 99px;
  padding: 0;
}
.cf-name-fields2,
.last-name-field4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.last-name-field4 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  padding: var(--padding-mini) var(--padding-lgi);
  min-width: 133px;
}
.cf-name-fields2 {
  align-self: stretch;
  gap: 0 20px;
}
.cf-email-field5 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-readex-pro);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 20px;
  flex: 1;
  position: relative;
  line-height: 123%;
  color: var(--color-gray-400);
  text-align: left;
  display: inline-block;
  min-width: 234px;
  max-width: 100%;
  padding: 0;
}
.cf-email-field4 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-lgi);
  max-width: 100%;
}
.cf-message-field2,
.submit-button-text2 {
  font-size: var(--font-size-base);
  font-family: var(--font-readex-pro);
}
.cf-message-field2 {
  border: 1px solid var(--color-gray-500);
  background-color: var(--color-white);
  height: 180px;
  width: auto;
  outline: 0;
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-xl);
  color: var(--color-gray-400);
}
.submit-button-text2 {
  position: relative;
  line-height: 123%;
  color: var(--color-black);
  text-align: left;
}
.submit-buttonsubmit-button-de2 {
  cursor: pointer;
  border: 1px solid var(--color-gray-500);
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-springgreen-200);
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.submit-buttonsubmit-button-de2:hover {
  background-color: var(--color-limegreen);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
}
.privacy-policy2 {
  font-weight: 600;
}
.cf-form-container2 {
  align-self: stretch;
  height: 26px;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 123%;
  display: inline-block;
  flex-shrink: 0;
}
.contact-form2 {
  flex: 0.9389;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xl);
  gap: 20px 0;
  min-width: 350px;
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.book-a-meeting-container2,
.bottom-section,
.contact-form2 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.book-a-meeting-container2 {
  width: 1080px;
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-200);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-21xl) var(--padding-5xl) var(--padding-21xl)
    var(--padding-xl);
  gap: 60px 56px;
  max-width: 1080px;
  font-size: var(--font-size-lg);
}
.bottom-section {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-xl) 75px;
  gap: 45px 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.frame-child10,
.frame-child8,
.frame-child9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 7.1px;
  height: 7.1px;
}
.frame-child10,
.frame-child9 {
  left: 28.2px;
}
.frame-child10 {
  top: 21.2px;
}
.frame-child11,
.frame-child12 {
  position: absolute;
  left: 35.3px;
  width: 7.1px;
  height: 7.1px;
}
.frame-child11 {
  top: 0;
  background-color: var(--color-fuchsia);
  z-index: 1;
}
.frame-child12 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child13,
.frame-child14,
.frame-child15 {
  position: absolute;
  top: 21.2px;
  left: 7.1px;
  background-color: var(--color-springgreen-100);
  width: 7.1px;
  height: 7.1px;
}
.frame-child14,
.frame-child15 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child15 {
  top: 7.1px;
  z-index: 1;
}
.frame-child16,
.frame-child17,
.frame-child18 {
  position: absolute;
  top: 21.2px;
  left: 21.2px;
  background-color: var(--color-fuchsia);
  width: 7.1px;
  height: 7.1px;
}
.frame-child17,
.frame-child18 {
  top: 0;
  left: 14.1px;
  background-color: var(--color-springgreen-100);
}
.frame-child18 {
  top: 7.1px;
  left: 21.2px;
  background-color: var(--color-white);
}
.rectangle-group {
  height: 28.2px;
  width: 42.3px;
  position: relative;
}
.third-strand-studios6 {
  align-self: stretch;
  height: 12.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.bottomfootercontainer,
.frame-group {
  display: flex;
  justify-content: flex-start;
}
.bottomfootercontainer {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-6xs);
}
.frame-group {
  width: 244px;
  flex-direction: row;
  align-items: flex-end;
  gap: 0 12.1px;
}
.about8,
.company-column-header2,
.services4,
.work2 {
  position: relative;
  line-height: 160%;
  display: inline-block;
}
.company-column-header2 {
  height: 22px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.about8,
.services4,
.work2 {
  height: 26px;
}
.connect-button2,
.connect2 {
  display: flex;
  align-items: center;
}
.connect2 {
  height: 40px;
  flex: 1;
  position: relative;
  line-height: 123%;
  font-weight: 500;
  justify-content: center;
}
.connect-button2 {
  width: 130px;
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-black);
}
.column-012 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 23px 0;
  min-width: 130px;
}
.other-column-header2 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 160%;
  color: var(--color-darkgray);
}
.link12,
.link22,
.link32,
.link42 {
  flex: 1;
  position: relative;
  line-height: 160%;
}
.column-022 {
  height: 218px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 23px 0;
  min-width: 130px;
}
.footer-container2,
.links2 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.links2 {
  display: none;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.footer-container2 {
  width: 1080px;
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.divider13 {
  align-self: stretch;
  height: 3px;
  position: relative;
  background-color: var(--color-gray-600);
  overflow: hidden;
  flex-shrink: 0;
}
.third-strand-studio5 {
  text-decoration: underline;
}
.third-strand-studio-ltd-1472 {
  color: inherit;
}
.x1a4-technologies-group5 {
  text-decoration: underline;
}
.x1a4-technologies-group4 {
  color: inherit;
}
.third-strand-studio4 {
  flex: 1;
  position: relative;
  line-height: 160%;
  display: inline-block;
  min-width: 90px;
  max-width: 100%;
}
.legal2,
.privacy2 {
  align-self: stretch;
  position: relative;
  line-height: 160%;
}
.privacy-legal2 {
  height: 26px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  z-index: 2;
}
.bottom-footer-info2,
.bottom-footer2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.bottom-footer-info2 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}
.bottom-footer2 {
  flex: 1;
  flex-direction: column;
  gap: 16px 0;
}
.bottom-footer-container2,
.footer2,
.showcase-012 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.bottom-footer-container2 {
  width: 1080px;
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-11xl);
  max-width: 1080px;
}
.footer2,
.showcase-012 {
  flex-direction: column;
}
.footer2 {
  align-self: stretch;
  background-color: var(--color-gray-700);
  align-items: center;
  padding: var(--padding-21xl) 0 var(--padding-41xl);
  gap: 10px 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.showcase-012 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  align-items: flex-start;
  padding: 0 0 4.547473508864641e-13px;
  gap: 60px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .book-a-meeting-container2,
  .desktop-header2,
  .footer-container2,
  .hero-strapline16,
  .hero-strapline18,
  .hero-strapline20,
  .hero-strapline22,
  .hero-strapline23,
  .showcase-content-01,
  .showcase-content-02,
  .showcase-content-03,
  .showcase-content-04,
  .showcase-overview,
  .showcase-title-top-section {
    max-width: 100%;
  }
  .bottom-footer-container2 {
    gap: 0 30px;
    max-width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .showcase-title {
    font-size: var(--font-size-43xl);
    line-height: 77px;
  }
  .showcase-title-top-section {
    gap: 25px 0;
  }
  .hero-strapline15,
  .hero-strapline17,
  .hero-strapline19,
  .hero-strapline21 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .meeting-text-title2 {
    font-size: var(--font-size-5xl);
    line-height: 30px;
  }
  .bottom-section {
    padding-bottom: 49px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .showcasetitle {
    display: none;
  }
  .desktop-header2 {
    width: 832px;
  }
  .showcase-title {
    max-width: 100%;
  }
  .top-section {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-20xl);
    box-sizing: border-box;
  }
  .showcase-content-01,
  .showcase-content-02,
  .showcase-content-03,
  .showcase-content-04 {
    gap: 20px 0;
  }
  .meeting-text14 {
    gap: 28px 0;
  }
  .cf-name-fields2 {
    flex-wrap: wrap;
  }
  .contact-form2 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .book-a-meeting-container2 {
    gap: 60px 28px;
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
  .bottom-section {
    gap: 22px 0;
  }
  .showcase-012 {
    gap: 30px 0;
  }
}
@media screen and (max-width: 450px) {
  .showcase-title {
    font-size: var(--font-size-28xl);
    line-height: 58px;
  }
  .showcase-title-top-section {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .hero-strapline15,
  .hero-strapline17,
  .hero-strapline19,
  .hero-strapline21 {
    font-size: var(--font-size-3xl);
    line-height: 27px;
  }
  .hero-strapline23 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .meeting-text-title2 {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
  .cf-title2 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
  .bottom-section {
    padding-bottom: 32px;
    box-sizing: border-box;
  }
}
