@keyframes slide-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.frame-child107,
.frame-child108,
.frame-child109,
.frame-child110,
.frame-child111 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 7.1px;
  height: 7.1px;
}
.frame-child108,
.frame-child109,
.frame-child110,
.frame-child111 {
  left: 28.2px;
}
.frame-child109,
.frame-child110,
.frame-child111 {
  top: 21.2px;
}
.frame-child110,
.frame-child111 {
  top: 0;
  left: 35.3px;
  background-color: var(--color-fuchsia);
}
.frame-child111 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child112,
.frame-child113,
.frame-child114 {
  position: absolute;
  top: 21.2px;
  left: 7.1px;
  background-color: var(--color-springgreen-100);
  width: 7.1px;
  height: 7.1px;
}
.frame-child113,
.frame-child114 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child114 {
  top: 7.1px;
}
.frame-child115,
.frame-child116,
.frame-child117 {
  position: absolute;
  top: 21.2px;
  left: 21.2px;
  background-color: var(--color-fuchsia);
  width: 7.1px;
  height: 7.1px;
}
.frame-child116,
.frame-child117 {
  top: 0;
  left: 14.1px;
  background-color: var(--color-springgreen-100);
}
.frame-child117 {
  top: 7.1px;
  left: 21.2px;
  background-color: var(--color-white);
}
.rectangle-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 42.3px;
  height: 28.2px;
}
.third-strand-studios10 {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 180.8px;
  height: 12.2px;
}
.frame-parent9 {
  width: 244.7px;
  position: relative;
  height: 28.2px;
}
.about15,
.about16 {
  position: relative;
  line-height: 160%;
}
.about16 {
  cursor: pointer;
}
.vector-icon4 {
  position: absolute;
  height: 60%;
  width: 76.67%;
  top: 20%;
  right: 11.67%;
  bottom: 20%;
  left: 11.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.burger-icon5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 42px;
  position: relative;
  height: 42px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.desktop-header5,
.nav5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav5 {
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.desktop-header5 {
  width: 100%;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.gradient-divider4 {
  width: 100%;
  position: relative;
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  height: 5px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 150px;
}
.hero-strapline30 {
  width: 100%;
  position: relative;
  line-height: 123%;
  font-weight: 600;
  display: inline-block;
  max-width: 700px;
}
.hero-strapline29 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-17xl);
  opacity: 0;
}
.hero-strapline29.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}
.hero-strapline-container2,
.hero-strapline29,
.top-section1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.hero-strapline-container2 {
  width: 100%;
  align-items: flex-start;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
  font-size: var(--font-size-59xl);
}
.top-section1 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-21xl) 0 var(--padding-41xl);
  gap: var(--gap-3xs);
  background-image: url(./public/top-section1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-base);
}
.hero-strapline31,
.showcase-overview1 {
  width: 100%;
  position: relative;
  line-height: 160%;
  display: inline-block;
  max-width: 1080px;
}
.hero-strapline31 {
  font-size: var(--font-size-17xl);
  line-height: 123%;
  text-align: center;
}
.showcase-content-011 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  gap: var(--gap-21xl);
  font-size: var(--font-size-lg);
}
.showcase-image-02-icon2 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  height: 350px;
  flex-shrink: 0;
  object-fit: cover;
}
.hero-strapline33,
.hero-strapline34 {
  width: 100%;
  position: relative;
  line-height: 123%;
  display: inline-block;
  max-width: 1080px;
}
.hero-strapline34 {
  font-size: var(--font-size-lg);
  line-height: 160%;
  text-align: left;
}
.showcase-content-021 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  gap: var(--gap-21xl);
  text-align: center;
}
.showcase-image-03-icon1 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  height: 550px;
  flex-shrink: 0;
  object-fit: cover;
}
.meeting-text-title5 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 123%;
  font-weight: 600;
}
.meeting-text-1-icon5 {
  width: 46px;
  position: relative;
  height: 46px;
  overflow: hidden;
  flex-shrink: 0;
}
.meeting-text-111 {
  flex: 1;
  position: relative;
  line-height: 123%;
}
.meeting-text-110 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.meeting-text-2-icon5 {
  width: 46px;
  position: relative;
  height: 41.7px;
  overflow: hidden;
  flex-shrink: 0;
}
.meeting-text5 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  gap: var(--gap-38xl);
}
.cf-title5,
.first-name-field11 {
  position: relative;
  line-height: 123%;
}
.cf-title5 {
  align-self: stretch;
}
.first-name-field11 {
  border: 0;
  outline: 0;
  font-family: var(--font-readex-pro);
  font-size: var(--font-size-base);
  background-color: transparent;
  flex: 1;
  color: var(--color-gray-500);
  text-align: left;
}
.cf-email-field10,
.cf-message-field10,
.cf-name-fields5,
.first-name-field10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.first-name-field10 {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-mini) var(--padding-xl);
}
.cf-email-field10,
.cf-message-field10,
.cf-name-fields5 {
  align-self: stretch;
}
.cf-name-fields5 {
  gap: var(--gap-xl);
}
.cf-email-field10,
.cf-message-field10 {
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-mini) var(--padding-xl);
}
.cf-message-field10 {
  box-sizing: border-box;
  height: 180px;
}
.submit-button-text5 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 123%;
  font-family: var(--font-readex-pro);
  color: var(--color-black);
  text-align: left;
}
.submit-buttonsubmit-button-de5 {
  cursor: pointer;
  border: 1px solid var(--color-gray-600);
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-springgreen-200);
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.submit-buttonsubmit-button-de5:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #69f977;
}
.submit-buttonsubmit-button-de5:active {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #69f977;
}
.privacy-policy5 {
  font-weight: 600;
}
.cf-form-container5 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 123%;
  display: inline-block;
  height: 26px;
  flex-shrink: 0;
}
.book-a-meeting-container5,
.contact-form5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-form5 {
  flex: 1;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
}
.book-a-meeting-container5 {
  width: 100%;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-springgreen-500);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-29xl) var(--padding-5xl) 0;
  gap: var(--gap-5xl);
  max-width: 1080px;
}
.bottom-section2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  font-size: var(--font-size-sm);
}
.third-strand-studios11 {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 180.8px;
  height: 12.2px;
}
.company-column-header5 {
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.company-column-header5,
.services8 {
  position: relative;
  line-height: 160%;
}
.connect-button5,
.connect5 {
  display: flex;
  align-items: center;
}
.connect5 {
  width: 130px;
  position: relative;
  line-height: 123%;
  font-weight: 500;
  justify-content: center;
  height: 40px;
  flex-shrink: 0;
}
.connect-button5 {
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-black);
}
.column-015 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-4xl);
  min-width: 130px;
}
.footer-container5,
.links5 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.links5 {
  display: none;
  justify-content: flex-start;
  gap: var(--gap-106xl);
}
.footer-container5 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.divider17 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gray-700);
  height: 3px;
  overflow: hidden;
  flex-shrink: 0;
}
.third-strand-studio12 {
  text-decoration: underline;
}
.third-strand-studio-ltd-1475 {
  color: inherit;
}
.third-strand-studio11 {
  flex: 1;
  position: relative;
  line-height: 160%;
  display: inline-block;
  min-width: 90px;
}
.privacy-legal5 {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.bottom-footer-info5,
.bottom-footer5 {
  align-self: stretch;
  align-items: flex-start;
}
.bottom-footer-info5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.bottom-footer5 {
  gap: var(--gap-base);
}
.bottom-footer-container5,
.bottom-footer5,
.footer5,
.showcase-02 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bottom-footer-container5 {
  width: 100%;
  align-items: flex-start;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.footer5,
.showcase-02 {
  align-items: center;
}
.footer5 {
  align-self: stretch;
  background-color: var(--color-gray-800);
  padding: var(--padding-21xl) 0 var(--padding-41xl);
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
}
.showcase-02 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-200);
  gap: var(--gap-41xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
@media screen and (max-width: 960px) {
  .hero-strapline30 {
    font-size: var(--font-size-35xl);
  }
  .contact-form5,
  .meeting-text5 {
    flex: unset;
    align-self: stretch;
  }
  .book-a-meeting-container5 {
    flex-direction: column;
    gap: var(--gap-41xl);
  }
}
@media screen and (max-width: 570px) {
  .about15,
  .about16,
  .third-strand-studios10 {
    display: none;
  }
  .burger-icon5 {
    display: flex;
  }
  .hero-strapline30 {
    font-size: var(--font-size-23xl);
    line-height: 56px;
  }
  .meeting-text5 {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
  .first-name-field10 {
    flex: unset;
    align-self: stretch;
  }
  .cf-name-fields5 {
    flex-direction: column;
  }
  .contact-form5 {
    padding-left: var(--padding-xs);
    padding-right: var(--padding-xs);
    box-sizing: border-box;
  }
  .book-a-meeting-container5 {
    padding-left: var(--padding-3xs);
    padding-top: var(--padding-21xl);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
}
.frame-child173,
.frame-child174,
.frame-child175,
.frame-child176,
.frame-child177 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 7.1px;
  height: 7.1px;
}
.frame-child174,
.frame-child175,
.frame-child176,
.frame-child177 {
  left: 28.2px;
}
.frame-child175,
.frame-child176,
.frame-child177 {
  top: 21.2px;
}
.frame-child176,
.frame-child177 {
  top: 0;
  left: 35.3px;
  background-color: var(--color-fuchsia);
}
.frame-child177 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child178,
.frame-child179,
.frame-child180 {
  position: absolute;
  top: 21.2px;
  left: 7.1px;
  background-color: var(--color-springgreen-100);
  width: 7.1px;
  height: 7.1px;
}
.frame-child179,
.frame-child180 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child180 {
  top: 7.1px;
}
.frame-child181,
.frame-child182,
.frame-child183 {
  position: absolute;
  top: 21.2px;
  left: 21.2px;
  background-color: var(--color-fuchsia);
  width: 7.1px;
  height: 7.1px;
}
.frame-child182,
.frame-child183 {
  top: 0;
  left: 14.1px;
  background-color: var(--color-springgreen-100);
}
.frame-child183 {
  top: 7.1px;
  left: 21.2px;
  background-color: var(--color-white);
}
.rectangle-parent14 {
  position: absolute;
  top: 0;
  left: 0;
  width: 42.3px;
  height: 28.2px;
}
.third-strand-studios16 {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 190.3px;
  height: 12.2px;
}
.frame-parent16 {
  width: 244.7px;
  position: relative;
  height: 28.2px;
}
.about24 {
  line-height: 160%;
}
.about24,
.about25,
.nav8 {
  position: relative;
}
.about25 {
  line-height: 160%;
  cursor: pointer;
}
.nav8 {
  width: 100%;
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px 0;
  box-sizing: border-box;
  gap: var(--gap-17xl);
  opacity: 0;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.nav8.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
}
