.gradient-divider3,
.gradient-divider4,
.gradient-divider5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 7.1px;
  height: 7.1px;
}
.gradient-divider4,
.gradient-divider5 {
  left: 28.2px;
}
.gradient-divider5 {
  top: 21.2px;
}
.gradient-divider6,
.gradient-divider7 {
  position: absolute;
  left: 35.3px;
  width: 7.1px;
  height: 7.1px;
}
.gradient-divider6 {
  top: 0;
  background-color: var(--color-fuchsia);
  z-index: 1;
}
.gradient-divider7 {
  top: 14.1px;
  background-color: var(--color-white);
}
.gradient-divider10,
.gradient-divider8,
.gradient-divider9 {
  position: absolute;
  top: 21.2px;
  left: 7.1px;
  background-color: var(--color-springgreen-100);
  width: 7.1px;
  height: 7.1px;
}
.gradient-divider10,
.gradient-divider9 {
  top: 14.1px;
  background-color: var(--color-white);
}
.gradient-divider10 {
  top: 7.1px;
  z-index: 1;
}
.gradient-divider11,
.gradient-divider12,
.gradient-divider13 {
  position: absolute;
  top: 21.2px;
  left: 21.2px;
  background-color: var(--color-fuchsia);
  width: 7.1px;
  height: 7.1px;
}
.gradient-divider12,
.gradient-divider13 {
  top: 0;
  left: 14.1px;
  background-color: var(--color-springgreen-100);
}
.gradient-divider13 {
  top: 7.1px;
  left: 21.2px;
  background-color: var(--color-white);
}
.gradient-divider-parent {
  height: 28.2px;
  width: 42.3px;
  position: relative;
}
.third-strand-studios7 {
  align-self: stretch;
  height: 12.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.third-strand-studios-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs);
}
.frame-container {
  width: 244.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 12.1px;
}
.about10,
.about9,
.contact-us4 {
  position: relative;
  line-height: 160%;
  cursor: pointer;
}
.about10,
.contact-us4 {
  white-space: nowrap;
}
.nav3 {
  margin: 0;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 23px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.desktop-header3,
.nav-container,
.nav3 {
  display: flex;
  align-items: flex-start;
}
.nav-container {
  margin: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.099999999999909px 0 0;
}
.desktop-header3 {
  width: 1080px;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
  gap: var(--gap-xl);
}
.gradient-divider14 {
  width: 100%;
  height: 5px;
  position: relative;
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  overflow: hidden;
  flex-shrink: 0;
  max-width: 150px;
}
.showcase-title1 {
  margin: 0;
  width: 100%;
  position: relative;
  font-size: inherit;
  line-height: 123%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 700px;
}
.showcase-title-top-section1,
.top-section1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.showcase-title-top-section1 {
  width: 1080px;
  align-items: flex-start;
  padding: var(--padding-11xl);
  gap: 50px 0;
  max-width: 1080px;
}
.top-section1 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-21xl) 0 var(--padding-41xl);
  gap: 10px 0;
  background-image: url(./public/top-section1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-59xl);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.showcase-overview1 {
  width: 1080px;
  position: relative;
  line-height: 160%;
  display: inline-block;
  flex-shrink: 0;
  max-width: 1080px;
}
.showcase-overview-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.hero-strapline24 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 123%;
  font-weight: 700;
  font-family: inherit;
}
.hero-strapline25 {
  width: 100%;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 160%;
  text-align: left;
  display: inline-block;
  max-width: 1080px;
}
.frameshowcase,
.showcase-content-011 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.showcase-content-011 {
  width: 1080px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 5.684341886080803e-14px;
  gap: 40px 0;
  max-width: 1080px;
}
.frameshowcase {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.showcase-image-01-icon1 {
  align-self: stretch;
  height: 550px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 550px;
}
.hero-strapline26 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 123%;
  font-weight: 700;
  font-family: inherit;
}
.hero-strapline27 {
  width: 100%;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 160%;
  text-align: left;
  display: inline-block;
  max-width: 1080px;
}
.showcase-content-021 {
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px 0;
  max-width: 1080px;
}
.frameshowcase1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.showcase-image-02-icon1 {
  align-self: stretch;
  height: 350px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 350px;
}
.hero-strapline28 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 123%;
  font-weight: 700;
  font-family: inherit;
}
.hero-strapline29 {
  width: 100%;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 160%;
  text-align: left;
  display: inline-block;
  max-width: 1080px;
}
.showcase-content-031 {
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px 0;
  max-width: 1080px;
}
.frameshowcase2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.showcase-image-03-icon1 {
  align-self: stretch;
  height: 800px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  min-height: 800px;
}
.hero-strapline30 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 123%;
  font-weight: 700;
  font-family: inherit;
}
.hero-strapline31 {
  width: 100%;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 160%;
  text-align: left;
  display: inline-block;
  max-width: 1080px;
}
.showcase-content-041 {
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px 0;
  max-width: 1080px;
}
.frameshowcase3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.meeting-text-title3 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
  line-height: 123%;
  font-weight: 600;
  font-family: inherit;
}
.meeting-text-1-icon3 {
  height: 46px;
  width: 46px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 46px;
}
.meeting-text-17 {
  flex: 1;
  position: relative;
  line-height: 123%;
  display: inline-block;
  min-width: 154px;
  max-width: 100%;
}
.meeting-text-16 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
  gap: 27px 21px;
  max-width: 100%;
}
.meeting-text-2-icon3 {
  height: 41.7px;
  width: 46px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.meeting-text-27 {
  flex: 1;
  position: relative;
  line-height: 123%;
  display: inline-block;
  min-width: 154px;
  max-width: 100%;
}
.meeting-text-26 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) 0 0;
  box-sizing: border-box;
  gap: 27px 21px;
  max-width: 100%;
}
.meeting-text-3-icon3 {
  height: 46px;
  width: 46px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.meeting-text-37 {
  flex: 1;
  position: relative;
  line-height: 123%;
  display: inline-block;
  min-width: 154px;
  max-width: 100%;
}
.meeting-text-36,
.meeting-text15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.meeting-text-36 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-7xs) 0 0;
  gap: 27px 21px;
}
.meeting-text15 {
  flex: 1;
  flex-direction: column;
  padding: 0 var(--padding-base);
  gap: 57px 0;
  min-width: 350px;
}
.cf-title3,
.first-name-field7 {
  position: relative;
  line-height: 123%;
}
.cf-title3 {
  align-self: stretch;
}
.first-name-field7 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-readex-pro);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 20px;
  flex: 1;
  color: var(--color-gray-400);
  text-align: left;
  display: inline-block;
  min-width: 99px;
  padding: 0;
}
.first-name-field6 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-lgi);
  min-width: 133px;
}
.last-name-field7 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-readex-pro);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 20px;
  flex: 1;
  position: relative;
  line-height: 123%;
  color: var(--color-gray-400);
  text-align: left;
  display: inline-block;
  min-width: 99px;
  padding: 0;
}
.cf-name-fields3,
.last-name-field6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.last-name-field6 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  padding: var(--padding-mini) var(--padding-lgi);
  min-width: 133px;
}
.cf-name-fields3 {
  align-self: stretch;
  gap: 0 20px;
}
.cf-email-field7 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-readex-pro);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 20px;
  flex: 1;
  position: relative;
  line-height: 123%;
  color: var(--color-gray-400);
  text-align: left;
  display: inline-block;
  min-width: 234px;
  max-width: 100%;
  padding: 0;
}
.cf-email-field6 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-lgi);
  max-width: 100%;
}
.cf-message-field3,
.submit-button-text3 {
  font-size: var(--font-size-base);
  font-family: var(--font-readex-pro);
}
.cf-message-field3 {
  border: 1px solid var(--color-gray-500);
  background-color: var(--color-white);
  height: 180px;
  width: auto;
  outline: 0;
  align-self: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-xl);
  color: var(--color-gray-400);
}
.submit-button-text3 {
  position: relative;
  line-height: 123%;
  color: var(--color-black);
  text-align: left;
}
.submit-buttonsubmit-button-de3 {
  cursor: pointer;
  border: 1px solid var(--color-gray-500);
  padding: var(--padding-mini) var(--padding-xl);
  background-color: var(--color-springgreen-200);
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.submit-buttonsubmit-button-de3:hover {
  background-color: var(--color-limegreen);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
}
.privacy-policy3 {
  font-weight: 600;
}
.cf-form-container3 {
  align-self: stretch;
  height: 26px;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 123%;
  display: inline-block;
  flex-shrink: 0;
}
.contact-form3 {
  flex: 0.9389;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-11xl);
  gap: 20px 0;
  min-width: 350px;
  max-width: 100%;
  font-size: var(--font-size-xl);
}
.book-a-meeting-container3,
.bottom-section1,
.contact-form3 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.book-a-meeting-container3 {
  width: 1080px;
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-200);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-21xl) var(--padding-5xl) var(--padding-21xl)
    var(--padding-xl);
  gap: 60px 56px;
  max-width: 1080px;
}
.bottom-section1 {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.frame-child19,
.frame-child20,
.frame-child21 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 7.1px;
  height: 7.1px;
}
.frame-child20,
.frame-child21 {
  left: 28.2px;
}
.frame-child21 {
  top: 21.2px;
}
.frame-child22,
.frame-child23 {
  position: absolute;
  left: 35.3px;
  width: 7.1px;
  height: 7.1px;
}
.frame-child22 {
  top: 0;
  background-color: var(--color-fuchsia);
  z-index: 1;
}
.frame-child23 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child24,
.frame-child25,
.frame-child26 {
  position: absolute;
  top: 21.2px;
  left: 7.1px;
  background-color: var(--color-springgreen-100);
  width: 7.1px;
  height: 7.1px;
}
.frame-child25,
.frame-child26 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frame-child26 {
  top: 7.1px;
  z-index: 1;
}
.frame-child27,
.frame-child28,
.frame-child29 {
  position: absolute;
  top: 21.2px;
  left: 21.2px;
  background-color: var(--color-fuchsia);
  width: 7.1px;
  height: 7.1px;
}
.frame-child28,
.frame-child29 {
  top: 0;
  left: 14.1px;
  background-color: var(--color-springgreen-100);
}
.frame-child29 {
  top: 7.1px;
  left: 21.2px;
  background-color: var(--color-white);
}
.rectangle-container {
  height: 28.2px;
  width: 42.3px;
  position: relative;
}
.third-strand-studios8 {
  align-self: stretch;
  height: 12.2px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.bottom-footer-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs);
}
.frame-parent1 {
  width: 244px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 12.1px;
}
.about11,
.company-column-header3,
.services5,
.work3 {
  position: relative;
  line-height: 160%;
  display: inline-block;
}
.company-column-header3 {
  height: 22px;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.about11,
.services5,
.work3 {
  height: 26px;
}
.connect-button3,
.connect3 {
  display: flex;
  align-items: center;
}
.connect3 {
  height: 40px;
  flex: 1;
  position: relative;
  line-height: 123%;
  font-weight: 500;
  justify-content: center;
}
.connect-button3 {
  width: 130px;
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-black);
}
.column-013 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 23px 0;
  min-width: 130px;
}
.other-column-header3 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 160%;
  color: var(--color-darkgray);
}
.link13,
.link23,
.link33,
.link43 {
  flex: 1;
  position: relative;
  line-height: 160%;
}
.column-023 {
  height: 218px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 23px 0;
  min-width: 130px;
}
.footer-container3,
.links3 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.links3 {
  display: none;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.footer-container3 {
  width: 1080px;
  display: flex;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.divider14 {
  align-self: stretch;
  height: 3px;
  position: relative;
  background-color: var(--color-gray-600);
  overflow: hidden;
  flex-shrink: 0;
}
.third-strand-studio7 {
  text-decoration: underline;
}
.third-strand-studio-ltd-1473 {
  color: inherit;
}
.x1a4-technologies-group7 {
  text-decoration: underline;
}
.x1a4-technologies-group6 {
  color: inherit;
}
.third-strand-studio6 {
  flex: 1;
  position: relative;
  line-height: 160%;
  display: inline-block;
  min-width: 90px;
  max-width: 100%;
}
.legal3,
.privacy3 {
  align-self: stretch;
  position: relative;
  line-height: 160%;
}
.privacy-legal3 {
  height: 26px;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  z-index: 2;
}
.bottom-footer-info3 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}
.bottom-footer-container3,
.bottom-footer-info3,
.bottom-footer3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bottom-footer3 {
  flex: 1;
  flex-direction: column;
  gap: 16px 0;
  max-width: 100%;
}
.bottom-footer-container3 {
  width: 1080px;
  flex-direction: row;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.footer3,
.showcase-02 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer3 {
  align-self: stretch;
  background-color: var(--color-gray-700);
  align-items: center;
  padding: var(--padding-21xl) 0 59.999999999999545px;
  box-sizing: border-box;
  gap: 10px 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.showcase-02 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  align-items: flex-start;
  gap: 60px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .book-a-meeting-container3,
  .desktop-header3,
  .hero-strapline25,
  .hero-strapline27,
  .hero-strapline29,
  .hero-strapline31,
  .showcase-content-011,
  .showcase-content-021,
  .showcase-content-031,
  .showcase-content-041,
  .showcase-overview1,
  .showcase-title-top-section1 {
    max-width: 100%;
  }
  .bottom-section1 {
    gap: 60px 0;
  }
  .footer-container3 {
    max-width: 100%;
  }
  .bottom-footer-container3 {
    gap: 0 30px;
    max-width: 100%;
  }
  .showcase-02 {
    gap: 30px 0;
  }
}
@media screen and (max-width: 1025px) {
  .showcase-title1 {
    font-size: var(--font-size-43xl);
    line-height: 77px;
  }
  .showcase-title-top-section1 {
    gap: 25px 0;
  }
  .hero-strapline24,
  .hero-strapline26,
  .hero-strapline28,
  .hero-strapline30 {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .meeting-text-title3 {
    font-size: var(--font-size-5xl);
    line-height: 30px;
  }
}
@media screen and (max-width: 750px) {
  .nav-container {
    display: none;
  }
  .desktop-header3 {
    width: 832px;
  }
  .showcase-title1 {
    max-width: 100%;
  }
  .showcase-title-top-section1,
  .top-section1 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .top-section1 {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-20xl);
  }
  .showcase-content-011,
  .showcase-content-021,
  .showcase-content-031,
  .showcase-content-041 {
    gap: 20px 0;
  }
  .meeting-text15 {
    gap: 28px 0;
  }
  .cf-name-fields3 {
    flex-wrap: wrap;
  }
  .contact-form3 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .book-a-meeting-container3 {
    gap: 60px 28px;
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-7xl);
    box-sizing: border-box;
  }
  .bottom-section1 {
    gap: 30px 0;
  }
}
@media screen and (max-width: 450px) {
  .showcase-title1 {
    font-size: var(--font-size-28xl);
    line-height: 58px;
  }
  .hero-strapline24,
  .hero-strapline26,
  .hero-strapline28,
  .hero-strapline30 {
    font-size: var(--font-size-3xl);
    line-height: 27px;
  }
  .meeting-text-title3 {
    font-size: var(--font-size-lg);
    line-height: 22px;
  }
  .cf-title3 {
    font-size: var(--font-size-base);
    line-height: 20px;
  }
}
