@keyframes slide-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.gradientDivider {
  width: 100%;
  position: relative;
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  height: 5px;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 150px;
}
.heroDescription,
.heroStrapline1 {
  width: 100%;
  position: relative;
  display: inline-block;
}
.heroStrapline1 {
  line-height: 123%;
  font-weight: 600;
  max-width: 700px;
}
.heroDescription {
  font-size: var(--font-size-sm);
  line-height: 160%;
  max-width: 520px;
}
.text {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 120%;
  font-weight: 500;
  font-family: var(--font-readex-pro);
  color: var(--color-black);
  text-align: center;
}
.contactUsButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xl) var(--padding-xl);
  background-color: var(--devicoio-royal-blue);
  width: 100%;
  border-radius: var(--br-7xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  max-width: 300px;
}
.contactUsButton:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(89.95deg, #65ff74, #ff00d6);
}
.contactUsButton:active {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(89.95deg, #65ff74, #ff00d6);
}
.headerContainer,
.heroStrapline {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heroStrapline {
  width: 100%;
  align-items: flex-start;
  gap: var(--gap-17xl);
  opacity: 0;
  max-width: 1080px;
}
.heroStrapline.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}
.headerContainer {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-21xl) var(--padding-xs) var(--padding-41xl);
  gap: var(--gap-3xs);
  background-image: url(/public/headercontainer@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.servicesTitle {
  align-self: stretch;
  position: relative;
  line-height: 123%;
}
.services {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.seeWhatWe {
  position: relative;
  line-height: 123%;
  font-weight: 600;
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.whatWeCanDoButton {
  width: 300px;
  border: 1px solid var(--devicoio-royal-blue);
  box-sizing: border-box;
  overflow: hidden;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xl);
  max-width: 300px;
  font-size: var(--font-size-xl);
}
.servicesContainer {
  width: 100%;
  gap: var(--gap-27xl);
  max-width: 1080px;
}
.container,
.homepage,
.servicesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container {
  align-self: stretch;
  padding: var(--padding-61xl) var(--padding-xs);
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--font-size-17xl);
}
.homepage {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--devicoio-black);
  font-family: var(--font-readex-pro);
}
@media screen and (max-width: 960px) {
  .heroStrapline1 {
    font-size: var(--font-size-35xl);
  }
}
@media screen and (max-width: 570px) {
  .heroStrapline1 {
    font-size: var(--font-size-23xl);
    line-height: 56px;
  }
  .services {
    flex-direction: column;
  }
}
