.frameChild,
.frameItem {
  top: 0;
  background-color: var(--color-white);
}
.frameChild {
  position: absolute;
  left: 0;
  width: 0.444rem;
  height: 0.444rem;
}
.frameItem {
  left: 1.763rem;
}
.frameInner,
.frameItem,
.rectangleDiv {
  position: absolute;
  width: 0.444rem;
  height: 0.444rem;
}
.frameInner {
  top: 1.325rem;
  left: 1.763rem;
  background-color: var(--color-white);
}
.rectangleDiv {
  top: 0;
  left: 2.206rem;
  background-color: var(--color-fuchsia);
}
.frameChild1,
.frameChild2,
.frameChild3,
.frameChild4 {
  position: absolute;
  top: 0.881rem;
  left: 2.206rem;
  background-color: var(--color-white);
  width: 0.444rem;
  height: 0.444rem;
}
.frameChild2,
.frameChild3,
.frameChild4 {
  top: 1.325rem;
  left: 0.444rem;
  background-color: var(--color-springgreen-100);
}
.frameChild3,
.frameChild4 {
  top: 0.881rem;
  background-color: var(--color-white);
}
.frameChild4 {
  top: 0.444rem;
}
.frameChild5 {
  top: 1.325rem;
  left: 1.325rem;
  background-color: var(--color-fuchsia);
}
.frameChild5,
.frameChild6,
.frameChild7 {
  position: absolute;
  width: 0.444rem;
  height: 0.444rem;
}
.frameChild6 {
  top: 0;
  left: 0.881rem;
  background-color: var(--color-springgreen-100);
}
.frameChild7 {
  top: 0.444rem;
  left: 1.325rem;
  background-color: var(--color-white);
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.644rem;
  height: 1.763rem;
}
.thirdStrandStudios {
  position: absolute;
  top: 0.563rem;
  left: 3.4rem;
  width: 11.3rem;
  height: 0.763rem;
}
.frameParent {
  width: 15.294rem;
  position: relative;
  height: 1.763rem;
}
.about,
.contactUs {
  position: relative;
  line-height: 160%;
}
.contactUs {
  cursor: pointer;
}
.vectorIcon {
  position: absolute;
  height: 60%;
  width: 76.67%;
  top: 20%;
  right: 11.67%;
  bottom: 20%;
  left: 11.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.burgerIcon {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 2.625rem;
  position: relative;
  height: 2.625rem;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.desktopHeader,
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav {
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.desktopHeader {
  width: 100%;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 67.5rem;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
@media screen and (max-width: 570px) {
  .about,
  .contactUs,
  .thirdStrandStudios {
    display: none;
  }
  .burgerIcon {
    display: flex;
  }
}
