.frameChild,
.frameChild1,
.frameChild2,
.frameInner,
.frameItem,
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--devicoio-black);
  width: 7.1px;
  height: 7.1px;
}
.frameChild1,
.frameChild2,
.frameInner,
.frameItem,
.rectangleDiv {
  left: 28.2px;
}
.frameChild1,
.frameChild2,
.frameInner,
.rectangleDiv {
  top: 21.2px;
}
.frameChild1,
.frameChild2,
.rectangleDiv {
  top: 0;
  left: 35.3px;
  background-color: var(--color-fuchsia);
}
.frameChild1,
.frameChild2 {
  top: 14.1px;
  background-color: var(--devicoio-black);
}
.frameChild2 {
  top: 21.2px;
  left: 7.1px;
  background-color: var(--devicoio-royal-blue);
}
.frameChild3,
.frameChild4,
.frameChild5,
.frameChild6,
.frameChild7 {
  position: absolute;
  top: 14.1px;
  left: 7.1px;
  background-color: var(--devicoio-black);
  width: 7.1px;
  height: 7.1px;
}
.frameChild4,
.frameChild5,
.frameChild6,
.frameChild7 {
  top: 7.1px;
}
.frameChild5,
.frameChild6,
.frameChild7 {
  top: 21.2px;
  left: 21.2px;
  background-color: var(--color-fuchsia);
}
.frameChild6,
.frameChild7 {
  top: 0;
  left: 14.1px;
  background-color: var(--devicoio-royal-blue);
}
.frameChild7 {
  top: 7.1px;
  left: 21.2px;
  background-color: var(--devicoio-black);
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 42.3px;
  height: 28.2px;
}
.thirdStrandStudios {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 180.8px;
  height: 12.2px;
}
.frameParent {
  width: 244.7px;
  position: relative;
  height: 28.2px;
}
.companyColumnHeader {
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.companyColumnHeader,
.services {
  position: relative;
  line-height: 160%;
}
.connect,
.connectButton {
  display: flex;
  align-items: center;
}
.connect {
  width: 130px;
  position: relative;
  line-height: 123%;
  font-weight: 500;
  justify-content: center;
  height: 40px;
  flex-shrink: 0;
}
.connectButton {
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-black);
}
.column01 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-4xl);
  min-width: 130px;
}
.footerContainer,
.links {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.links {
  display: none;
  justify-content: flex-start;
  gap: var(--gap-106xl);
}
.footerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.divider {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gray-700);
  height: 3px;
  overflow: hidden;
  flex-shrink: 0;
}
.thirdStrandStudio1 {
  text-decoration: underline;
}
.thirdStrandStudioLtd147 {
  color: inherit;
}
.thirdStrandStudio {
  flex: 1;
  position: relative;
  line-height: 160%;
  display: inline-block;
  min-width: 90px;
}
.privacyLegal {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.bottomFooter,
.bottomFooterInfo {
  align-self: stretch;
  align-items: flex-start;
}
.bottomFooterInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.bottomFooter {
  gap: var(--gap-base);
}
.bottomFooter,
.bottomFooterContainer,
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.bottomFooterContainer {
  width: 100%;
  align-items: flex-start;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  max-width: 1080px;
}
.footer {
  align-self: stretch;
  background-color: var(--color-gray-800);
  align-items: center;
  padding: var(--padding-21xl) 0 var(--padding-41xl);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--devicoio-black);
  font-family: var(--font-readex-pro);
  margin-top: 2rem;
}
