.divider,
.heroStrapline {
  width: 100%;
  position: relative;
}
.heroStrapline {
  line-height: 123%;
  font-weight: 600;
  display: inline-block;
  max-width: 43.75rem;
}
.divider {
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  height: 0.125rem;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 7.5rem;
}
.description {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 160%;
  color: var(--color-gray-400);
}
.titleDescription {
  align-self: stretch;
  gap: var(--gap-base);
}
.letsWorkTogether,
.letsWorkTogetherContainer,
.titleDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.letsWorkTogether {
  width: 100%;
  max-width: 67.5rem;
}
.letsWorkTogetherContainer {
  align-self: stretch;
  padding: 0 var(--padding-xs);
  gap: var(--gap-101xl);
  text-align: center;
  font-size: var(--font-size-51xl);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
@media screen and (max-width: 960px) {
  .heroStrapline {
    font-size: var(--font-size-35xl);
  }
}
@media screen and (max-width: 570px) {
  .heroStrapline {
    font-size: var(--font-size-23xl);
    line-height: 3.5rem;
  }
}
