@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.frameChild,
.frameChild1,
.frameChild2,
.frameInner,
.frameItem,
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 7.1px;
  height: 7.1px;
}
.frameChild1,
.frameChild2,
.frameInner,
.frameItem,
.rectangleDiv {
  left: 28.2px;
}
.frameChild1,
.frameChild2,
.frameInner,
.rectangleDiv {
  top: 21.2px;
}
.frameChild1,
.frameChild2,
.rectangleDiv {
  top: 0;
  left: 35.3px;
  background-color: var(--color-fuchsia);
}
.frameChild1,
.frameChild2 {
  top: 14.1px;
  background-color: var(--color-white);
}
.frameChild2 {
  top: 21.2px;
  left: 7.1px;
  background-color: var(--color-springgreen-100);
}
.frameChild3,
.frameChild4,
.frameChild5,
.frameChild6,
.frameChild7 {
  position: absolute;
  top: 14.1px;
  left: 7.1px;
  background-color: var(--color-white);
  width: 7.1px;
  height: 7.1px;
}
.frameChild4,
.frameChild5,
.frameChild6,
.frameChild7 {
  top: 7.1px;
}
.frameChild5,
.frameChild6,
.frameChild7 {
  top: 21.2px;
  left: 21.2px;
  background-color: var(--color-fuchsia);
}
.frameChild6,
.frameChild7 {
  top: 0;
  left: 14.1px;
  background-color: var(--color-springgreen-100);
}
.frameChild7 {
  top: 7.1px;
  left: 21.2px;
  background-color: var(--color-white);
}
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 42.3px;
  height: 28.2px;
}
.thirdStrandStudios {
  position: absolute;
  top: 9px;
  left: 54.4px;
  width: 190.3px;
  height: 12.2px;
}
.frameParent {
  width: 244.7px;
  position: relative;
  height: 28.2px;
}
.about,
.contactUs {
  position: relative;
  line-height: 160%;
}
.contactUs {
  cursor: pointer;
}
.nav {
  width: 100%;
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px 0;
  box-sizing: border-box;
  gap: var(--gap-17xl);
  opacity: 0;
  max-height: 90%;
  overflow: auto;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
.nav.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
}
