.timeline4Icon {
  width: 60px;
  position: relative;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
}
.release {
  position: absolute;
  top: 312px;
  left: 36px;
  width: 75px;
  height: 75px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs);
  box-sizing: border-box;
}
