.cfTitle,
.description {
  align-self: stretch;
  position: relative;
  line-height: 123%;
}
.description {
  font-size: var(--font-size-base);
}
.checkboxChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2.59px;
  background-color: var(--color-springgreen-100);
  width: 1.5rem;
  height: 1.5rem;
}
.checkboxItem {
  position: absolute;
  top: 0.406rem;
  left: 0.244rem;
  width: 1.013rem;
  height: 0.731rem;
}
.checkbox {
  width: 1.5rem;
  position: relative;
  height: 1.5rem;
}
.example1Title {
  flex: 1;
  position: relative;
  line-height: 123%;
}
.specialityExample1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.specialityExample1Parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
}
.specialityExample1Parent,
.specialityExamplesRow1,
.specialityExamplesRow1Inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.specialityExamplesRow1Inner {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-lg);
}
.specialityExamplesRow1 {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--color-gray-300);
  flex-direction: column;
  padding: var(--padding-5xl);
  gap: var(--gap-17xl);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
@media screen and (max-width: 960px) {
  .specialityExamplesRow1 {
    flex: unset;
    align-self: stretch;
  }
}
