@keyframes slide-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.gradientDivider {
  width: 100%;
  position: relative;
  background: linear-gradient(89.95deg, #65ff74, #ff00d6);
  height: 0.313rem;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 9.375rem;
}
.heroStrapline1 {
  width: 100%;
  position: relative;
  line-height: 123%;
  font-weight: 600;
  display: inline-block;
  max-width: 43.75rem;
}
.heroStrapline {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-17xl);
  opacity: 0;
}
.heroStrapline.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}
.heroStrapline,
.heroStraplineContainer,
.topSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heroStraplineContainer {
  width: 100%;
  align-items: flex-start;
  padding: var(--padding-11xl);
  box-sizing: border-box;
  max-width: 67.5rem;
}
.topSection {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-21xl) 0 var(--padding-41xl);
  gap: var(--gap-3xs);
  background-image: url(/public/top-section@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-59xl);
  color: var(--color-white);
  font-family: var(--font-readex-pro);
}
@media screen and (max-width: 960px) {
  .heroStrapline1 {
    font-size: var(--font-size-35xl);
  }
}
@media screen and (max-width: 570px) {
  .heroStrapline1 {
    font-size: var(--font-size-23xl);
    line-height: 3.5rem;
  }
}
