.typescriptIcon {
  width: 56px;
  position: relative;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
}
.ts {
  position: absolute;
  top: 37px;
  left: 207px;
  width: 75px;
  height: 75px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs);
  box-sizing: border-box;
}
