@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@font-face {
  font-family: "Myriad Pro";
  src: url("/public/MYRIADPRO-REGULAR.OTF");
  font-weight: 400;
}

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-readex-pro: "Readex Pro";
  --font-poppins: Poppins;
  --font-myriad-pro: "Myriad Pro";
  --font-roboto: Roboto;
  --font-roboto-flex: "Roboto Flex";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-xl: 20px;
  --font-size-11xl: 30px;
  --font-size-17xl: 36px;
  --font-size-lg: 18px;
  --font-size-12xs-7: 0.7px;
  --font-size-5xl: 24px;
  --font-size-41xl: 60px;
  --font-size-35xl: 54px;
  --font-size-23xl: 42px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-gray-100: #181d26;
  --color-gray-200: #141414;
  --color-gray-300: #0b121a;
  --color-gray-400: rgba(255, 255, 255, 0.8);
  --color-gray-500: rgba(30, 39, 43, 0.3);
  --color-gray-600: rgba(0, 0, 0, 0.2);
  --color-gray-700: rgba(255, 255, 255, 0.1);
  --color-gray-800: rgba(35, 35, 35, 0.8);
  --devicoio-black: #fff;
  --color-darkgray: #adadad;
  --color-black: #000;
  --devicoio-royal-blue: #65ff74;
  --color-springgreen-100: #69f977;
  --color-springgreen-200: rgba(101, 255, 116, 0.4);
  --color-springgreen-300: rgba(100, 255, 116, 0.8);
  --color-springgreen-400: rgba(101, 255, 116, 0.2);
  --color-fuchsia: #ff00d6;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-base: 16px;
  --gap-106xl: 125px;
  --gap-4xl: 23px;
  --gap-61xl: 80px;
  --gap-5xl: 24px;
  --gap-41xl: 60px;
  --gap-xl: 20px;
  --gap-38xl: 57px;
  --gap-8xl: 27px;
  --gap-mid: 17px;
  --gap-21xl-2: 40.2px;
  --gap-xs: 12px;
  --gap-29xl: 48px;
  --gap-lgi: 19px;
  --gap-27xl: 46px;
  --gap-31xl: 50px;
  --gap-17xl: 36px;
  --gap-21xl: 40px;
  --gap-161xl: 180px;
  --gap-49xl: 68px;
  --gap-8xs-5: 4.5px;
  --gap-13xl: 32px;
  --gap-10xs: 3px;

  /* Paddings */
  --padding-21xl: 40px;
  --padding-41xl: 60px;
  --padding-11xl: 30px;
  --padding-3xs: 10px;
  --padding-61xl: 80px;
  --padding-xs: 12px;
  --padding-29xl: 48px;
  --padding-5xl: 24px;
  --padding-mini: 15px;
  --padding-xl: 20px;
  --padding-base: 16px;
  --padding-2xl-8: 21.8px;
  --padding-12xs: 1px;
  --padding-7xs: 6px;
  --padding-4xs: 9px;
  --padding-25xl: 44px;
  --padding-45xl: 64px;
  --padding-81xl: 100px;
  --padding-17xl: 36px;
  --padding-39xl-6: 58.6px;
  --padding-31xl: 50px;
  --padding-5xs: 8px;
  --padding-5xs-5: 7.5px;
  --padding-6xl: 25px;
  --padding-91xl: 110px;
  --padding-10xs: 3px;
  --padding-7xs-4: 5.4px;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-xs: 12px;
  --br-5xs: 8px;
  --br-5xl: 24px;
  --br-10xs-6: 2.6px;
  --br-base: 16px;
}
